Repository asmortongpt/Fleet-AzureDevOps: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-ci.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

azure-pipelines-ci.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: CodeQuality
    displayName: Code Quality & Linting
    jobs:
    - job: LintAndTypeCheck
      displayName: Lint and Type Check
      timeoutInMinutes: 15
      steps:
      - task: NodeTool@0
        displayName: Setup Node.js $(NODE_VERSION)
        inputs:
  ...

azure-pipelines-production.yml:
  stages:
  - stage: Build
    displayName: Build Application
    jobs:
    - job: BuildAndPush
      displayName: Build and Push Docker Image
      pool:
        vmImage: ubuntu-latest
      steps:
      - checkout: self
        fetchDepth: 0
        clean: true
      - task: Bash@3
        displayName: Display Build Info
  ...

azure-pipelines-simple-ci.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: BuildFrontend
    displayName: Build Frontend Application
    jobs:
    - job: Build
      displayName: Build & Lint Frontend
      timeoutInMinutes: 20
      steps:
      - task: NodeTool@0
        displayName: Setup Node.js $(NODE_VERSION)
        inputs:
  ...

azure-pipelines.yml:
  stages:
  - stage: Build
    displayName: Build and Push Docker Images
    jobs:
    - job: BuildImages
      displayName: Build All Services
      pool:
        vmImage: ubuntu-latest
      steps:
      - checkout: self
        fetchDepth: 1
      - task: AzureKeyVault@2
        displayName: Fetch Secrets from Key Vault
  ...

azure-pipelines/azure-pipelines-testing.yml:
  stages:
  - stage: CodeQuality
    displayName: Code Quality & Linting
    jobs:
    - job: Lint
      displayName: ESLint & TypeScript Check
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: NodeTool@0
        inputs:
          versionSpec: $(NODE_VERSION)
        displayName: Install Node.js
  ...

fix: emergency production fixes for deployment
  api/src/migrations/0000_green_stranger.sql
  api/src/migrations/003-recurring-maintenance.sql
  api/src/migrations/007_documents_table.sql
  api/src/migrations/008_security_events_and_password_reset.sql
  api/src/migrations/009_telematics_integration.sql
  api/src/migrations/010_route_optimization.sql
  api/src/migrations/011_dispatch_system.sql
  api/src/migrations/012_vehicle_3d_models.sql
  api/src/migrations/013_ev_management.sql
  api/src/migrations/014_video_telematics.sql
  api/src/migrations/015_mobile_integration.sql
  api/src/migrations/016_policies_procedures_devices.sql
  api/src/migrations/020_osha_compliance_forms.sql
  api/src/migrations/021_contextual_communications_ai.sql
  api/src/migrations/022_policy_templates_library.sql
  api/src/migrations/023_dispatch_radio_system.sql
  api/src/migrations/023_document_management_ocr.sql
  api/src/migrations/023_notification_system.sql
  api/src/migrations/023_search_and_indexing_system.sql
  api/src/migrations/036_inventory_management_system.sql
  api/src/migrations/036_task_emulator_tables.sql
  api/src/migrations/037_policy_executions.sql
  api/src/migrations/20250124_vehicle_idling_tracking.sql
  api/src/migrations/20251203_rbac_implementation.sql
  api/src/migrations/add-maintenance-tracking.sql
  api/src/migrations/add-vehicle-damage-table.sql
  api/src/migrations/add-vendor-parts-pricing.sql
  api/src/migrations/mobile-ocr-tables.sql
  api/src/migrations/seed_realistic_data.sql
  api/src/migrations/tallahassee_seed.sql
  api/src/scripts/run-migrations.ts
Due: azure-pipelines-ci.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

feat: Seed database with Tallahassee small business fleet data
  api/src/migrations/tallahassee_seed.sql
Due: azure-pipelines-ci.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

docs: Add comprehensive Fleet Management System rebuild specification
  FLEET_COMPLETE_REBUILD_SPECIFICATION.md
Due: none

docs: Add Word document version of Fleet rebuild specification
  FLEET_COMPLETE_REBUILD_SPECIFICATION.docx
Due: azure-pipelines-ci.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml

docs: Add complete Fleet documentation suite (Markdown + Word)
  FLEET_COMPETITIVE_ENHANCEMENTS.docx
  FLEET_COMPETITIVE_ENHANCEMENTS.md
  FLEET_COMPLETE_REBUILD_SPECIFICATION.docx
Due: azure-pipelines-ci.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml

fix: Update Dockerfile for non-root nginx on port 3000
  Dockerfile
Due: azure-pipelines-ci.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml

fix: Add nginx proxy temp paths for read-only filesystem
  Dockerfile
Due: azure-pipelines-ci.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml

docs: Add comprehensive system documentation (16,393 lines)
  DOCUMENTATION_SUMMARY.md
  FLEET_ARCHITECTURE_CRITICAL_GAPS.md
  FLEET_COMPLETE_SYSTEM_DOCUMENTATION.md
  FLEET_EXHAUSTIVE_PRODUCTION_GUIDE.md
  FLEET_MASTER_COMPLETE_DOCUMENTATION.md
  FLEET_MASTER_DOCUMENTATION.md
Due: none

feat: Add complete autonomous development platform (AutoDev)
  autodev-platform/.env.example
  autodev-platform/DEPLOYMENT_STATUS.md
  autodev-platform/Makefile
  autodev-platform/README.md
  autodev-platform/cli/autodev/__init__.py
  autodev-platform/cli/autodev/cli.py
  autodev-platform/cli/setup.py
  autodev-platform/deploy-to-azure-vm.sh
  autodev-platform/docker-compose.yml
  autodev-platform/mcp/repo_tools/Dockerfile
  autodev-platform/mcp/repo_tools/requirements.txt
  autodev-platform/mcp/repo_tools/server.py
  autodev-platform/mcp/test_tools/server.py
  autodev-platform/scripts/init-db.sql
  autodev-platform/verify-local.sh
Due: azure-pipelines-ci.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml

fix: Google Maps coordinate transformation and nginx proxy configuration
  Dockerfile
  api/src/server-simple.ts
Due: azure-pipelines-ci.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

Path conditions:
  azure-pipelines-ci.yml: any file but: README.md, docs, *.md
  azure-pipelines-production.yml: any file but: *.md, docs, .github
  azure-pipelines-simple-ci.yml: any file but: **/*.md, docs
  azure-pipelines.yml: any file but: *.md, docs
  azure-pipelines/azure-pipelines-testing.yml: any of: api, src, e2e, tests
