Repository asmortongpt/Fleet-AzureDevOps: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-ci.yml, azure-pipelines-emulator-production.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

Path conditions:
  azure-pipelines-ci.yml: any file but: README.md, docs, *.md
  azure-pipelines-emulator-production.yml: any file but: *.md, docs
  azure-pipelines-production.yml: any file but: *.md, docs, .github
  azure-pipelines-simple-ci.yml: any file but: **/*.md, docs
  azure-pipelines.yml: any file but: *.md, docs
  azure-pipelines/azure-pipelines-testing.yml: any of: api, src, e2e, tests

docs: Add deployment status and next steps
  DEPLOYMENT_STATUS.md
Due: none

feat: Add Kubernetes deployment automation for production
  .github/workflows/azure-static-web-apps-production.yml
  scripts/deploy-kubernetes.sh
Due: azure-pipelines-ci.yml, azure-pipelines-emulator-production.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml

fix: Correct Docker build context for API image
  scripts/deploy-kubernetes.sh
Due: azure-pipelines-ci.yml, azure-pipelines-emulator-production.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml

fix: Add frontend build step before Docker image creation
  scripts/deploy-kubernetes.sh
Due: azure-pipelines-ci.yml, azure-pipelines-emulator-production.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml

fix: Use correct Dockerfile path for API build
  scripts/deploy-kubernetes.sh
Due: azure-pipelines-ci.yml, azure-pipelines-emulator-production.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml

v1.jay Fixed admin and document and console log errors
  CLAUDE.md
  api-standalone/package-lock.json
  api-standalone/package.json
  api-standalone/server.js
  package-lock.json
  package.json
  src/App.tsx
  src/components/layout/CommandCenterSidebar.tsx
  src/components/map/ProfessionalFleetMap.tsx
  src/contexts/NavigationContext.tsx
  src/hooks/use-reactive-admin-data.ts
  src/hooks/use-reactive-operations-data.ts
  src/main.tsx
  src/pages/AdminHub.tsx
  src/pages/FleetHub.tsx
  src/router/routes.tsx
Due: azure-pipelines-ci.yml, azure-pipelines-emulator-production.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

fixed the build
  package-lock.json
  package.json
  src/components/dashboards/roles/DriverDashboard.tsx
  src/components/dashboards/roles/FleetManagerDashboard.tsx
  src/pages/InsightsHub.tsx
  tsconfig.json
Due: azure-pipelines-ci.yml, azure-pipelines-emulator-production.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

fix peer dependency
  .github/workflows/azure-static-web-apps-production.yml
Due: azure-pipelines-ci.yml, azure-pipelines-emulator-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml

fixed the build
  package-lock.json
  package.json
Due: azure-pipelines-ci.yml, azure-pipelines-emulator-production.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml
