Repository asmortongpt/Fleet-AzureDevOps: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-ci.yml, azure-pipelines-production.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

Path conditions:
  azure-pipelines-ci.yml: any file but: README.md, docs, *.md
  azure-pipelines-production.yml: any file but: *.md, docs, .github
  azure-pipelines.yml: any file but: *.md, docs
  azure-pipelines/azure-pipelines-testing.yml: any of: api, src, e2e, tests

docs: Add comprehensive verification and testing completion report
  FLEET_VERIFICATION_AND_TESTING_COMPLETE.md
Due: none

chore: Add dist-from-vm to gitignore (contains build artifacts)
  .gitignore
Due: azure-pipelines-ci.yml, azure-pipelines-production.yml, azure-pipelines.yml

feat: Add build version indicator and cache clearing tools
  Dockerfile.production
  LATEST_VERSION_GUIDE.md
  index.html
  public/clear-all-cache.html
  public/version-check.html
  src/App.tsx
  src/components/BuildVersion.tsx
Due: azure-pipelines-ci.yml, azure-pipelines-production.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

docs: Add Azure DevOps sync status and resolution guide
  AZURE_DEVOPS_SYNC_STATUS.md
Due: none

docs: Add Quick Start guide for Fleet Management app
  QUICK_START.md
Due: none
