Repository asmortongpt/Fleet-AzureDevOps: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-ci.yml, azure-pipelines-production.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

Path conditions:
  azure-pipelines-ci.yml: any file but: README.md, docs, *.md
  azure-pipelines-production.yml: any file but: *.md, docs, .github
  azure-pipelines.yml: any file but: *.md, docs
  azure-pipelines/azure-pipelines-testing.yml: any of: api, src, e2e, tests

fix: Resolve critical Google Maps duplicate loading error
  CURRENT_STATE.png
  index.html
  test-current-error.cjs
Due: azure-pipelines-ci.yml, azure-pipelines-production.yml, azure-pipelines.yml

fix: Correct data access patterns for paginated API responses
  src/components/dashboard/LiveFleetDashboard.tsx
  src/components/workspaces/AnalyticsWorkspace.tsx
  src/components/workspaces/ComplianceWorkspace.tsx
Due: azure-pipelines-ci.yml, azure-pipelines-production.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

fix: Add safe property access in DriverControlPanel search filter
  src/components/panels/DriverControlPanel.tsx
Due: azure-pipelines-ci.yml, azure-pipelines-production.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

fix: Resolve Analytics route error boundary by extracting API data arrays
  src/pages/AnalyticsPage.tsx
Due: azure-pipelines-ci.yml, azure-pipelines-production.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

docs: Add comprehensive investigation report for Analytics fix
  ANALYTICS_ERROR_FIX_REPORT.md
Due: none

docs: Add autonomous agent completion report
  AUTONOMOUS_AGENT_COMPLETION_REPORT.md
Due: none
