Repository asmortongpt/Fleet-AzureDevOps: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-ci.yml, azure-pipelines-production.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

Path conditions:
  azure-pipelines-ci.yml: any file but: README.md, docs, *.md
  azure-pipelines-production.yml: any file but: *.md, docs, .github
  azure-pipelines.yml: any file but: *.md, docs
  azure-pipelines/azure-pipelines-testing.yml: any of: api, src, e2e, tests

feat: implement Meshy.ai photorealistic 3D model generation
  PHOTOREALISTIC_VEHICLE_SOLUTION.md
  ULTIMATE_FLEET_TRANSFORMATION.md
  package-lock.json
  package.json
  src/components/garage/hooks/usePhotorealisticModel.ts
  src/components/modules/fleet/VirtualGarage.tsx
  src/services/meshyAI.ts
Due: azure-pipelines-ci.yml, azure-pipelines-production.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

feat: complete end-to-end AI photorealistic model integration
  .env.example
  src/components/garage/Asset3DViewer.tsx
Due: azure-pipelines-ci.yml, azure-pipelines-production.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

docs: add complete AI integration status and testing guide
  COMPLETE_AI_INTEGRATION_STATUS.md
Due: none

feat: add realistic Tallahassee company data with Sketchfab 3D models
  api/src/emulators/config/routes.json
  api/src/emulators/config/vehicles.json
  api/src/scripts/seed-tallahassee-company.ts
  public/sketchfab-3d-models.json
Due: azure-pipelines-ci.yml, azure-pipelines-production.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

fix(vite): resolve react-reconciler module error for 3D Garage
  vite.config.ts
Due: azure-pipelines-ci.yml, azure-pipelines-production.yml, azure-pipelines.yml

feat(garage): integrate modern fleet vehicle 3D models
  public/models/vehicles/avocado.glb
  public/models/vehicles/damaged_helmet.glb
  public/models/vehicles/milk_truck.glb
  src/components/modules/fleet/VirtualGarage.tsx
Due: azure-pipelines-ci.yml, azure-pipelines-production.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml
