Repository asmortongpt/Fleet-AzureDevOps: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-ci.yml, azure-pipelines-production.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

azure-pipelines-ci.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: CodeQuality
    displayName: Code Quality & Linting
    jobs:
    - job: LintAndTypeCheck
      displayName: Lint and Type Check
      timeoutInMinutes: 15
      steps:
      - task: NodeTool@0
        displayName: Setup Node.js $(NODE_VERSION)
        inputs:
  ...

azure-pipelines-production.yml:
  stages:
  - stage: Build
    displayName: Build Application
    jobs:
    - job: BuildAndPush
      displayName: Build and Push Docker Image
      pool:
        vmImage: ubuntu-latest
      steps:
      - checkout: self
        fetchDepth: 0
        clean: true
      - task: Bash@3
        displayName: Display Build Info
  ...

azure-pipelines.yml:
  schedules:
  - cron: 0 6 * * 1
    displayName: Weekly Security Scan
    branches:
      include:
      - main
    always: true
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: SecurityAnalysis
    displayName: Security & Quality Analysis
    jobs:
    - job: CodeQLScan
      displayName: CodeQL Security Scan
  ...

azure-pipelines/azure-pipelines-testing.yml:
  stages:
  - stage: CodeQuality
    displayName: Code Quality & Linting
    jobs:
    - job: Lint
      displayName: ESLint & TypeScript Check
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: NodeTool@0
        inputs:
          versionSpec: $(NODE_VERSION)
        displayName: Install Node.js
  ...

fix: Remove escaped dollar sign in fleet-cognition SQL query for tsx compatibility
  api/src/services/fleet-cognition.service.ts
Due: azure-pipelines-ci.yml, azure-pipelines-production.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

fix: Replace regex literal with RegExp constructor for tsx compatibility in n1-detector
  api/src/utils/n1-detector.ts
Due: azure-pipelines-ci.yml, azure-pipelines-production.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

fix: Restore main.tsx with DrilldownProvider
  test-docker-build.sh
Due: azure-pipelines-ci.yml, azure-pipelines-production.yml

fix: Resolve React component and provider issues
  src/App.tsx
  src/components/modules/fleet/FleetDashboardModern.tsx
  src/main.tsx
Due: azure-pipelines-ci.yml, azure-pipelines-production.yml, azure-pipelines/azure-pipelines-testing.yml

fix(CRITICAL): Fix icon rendering in MainLayout navigation
  src/components/layout/MainLayout.tsx
Due: azure-pipelines-ci.yml, azure-pipelines-production.yml, azure-pipelines/azure-pipelines-testing.yml

fix: Update all components to fetch data internally using useFleetData hook
  src/components/modules/admin/PeopleManagement.tsx
  src/components/modules/analytics/DataWorkbench.tsx
  src/components/modules/drivers/DriverPerformance.tsx
  src/components/modules/fleet/FleetAnalytics.tsx
  src/components/modules/fleet/FleetDashboard.tsx
  src/components/modules/fleet/FleetDashboardModern.tsx
  src/components/modules/fleet/VirtualGarage.tsx
  src/components/modules/fuel/FuelManagement.tsx
  src/components/modules/integrations/GISCommandCenter.tsx
  src/components/modules/maintenance/GarageService.tsx
  src/components/modules/maintenance/PredictiveMaintenance.tsx
  src/components/modules/operations/RouteManagement.tsx
  src/components/modules/tools/MileageReimbursement.tsx
  tests/e2e/production-visual-test.spec.ts
Due: azure-pipelines-ci.yml, azure-pipelines-production.yml, azure-pipelines/azure-pipelines-testing.yml

Path conditions:
  azure-pipelines-ci.yml: any file but: README.md, docs, *.md
  azure-pipelines-production.yml: any file but: *.md, docs, .github
  azure-pipelines.yml: any of: api/src/**/*.ts, src/**/*.ts, package.json, api/package.json
  azure-pipelines/azure-pipelines-testing.yml: any of: api, src, e2e, tests
