Repository asmortongpt/Fleet-AzureDevOps: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-ci.yml, azure-pipelines-production.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

azure-pipelines-ci.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: CodeQuality
    displayName: Code Quality & Linting
    jobs:
    - job: LintAndTypeCheck
      displayName: Lint and Type Check
      timeoutInMinutes: 15
      steps:
      - task: NodeTool@0
        displayName: Setup Node.js $(NODE_VERSION)
        inputs:
  ...

azure-pipelines-production.yml:
  stages:
  - stage: Build
    displayName: Build Application
    jobs:
    - job: BuildAndPush
      displayName: Build and Push Docker Image
      pool:
        vmImage: ubuntu-latest
      steps:
      - checkout: self
        fetchDepth: 0
        clean: true
      - task: Bash@3
        displayName: Display Build Info
  ...

azure-pipelines.yml:
  stages:
  - stage: Build
    displayName: Build and Push Docker Images
    jobs:
    - job: BuildImages
      displayName: Build All Services
      pool:
        vmImage: ubuntu-latest
      steps:
      - checkout: self
        fetchDepth: 1
      - task: AzureKeyVault@2
        displayName: Fetch Secrets from Key Vault
  ...

azure-pipelines/azure-pipelines-testing.yml:
  stages:
  - stage: CodeQuality
    displayName: Code Quality & Linting
    jobs:
    - job: Lint
      displayName: ESLint & TypeScript Check
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: NodeTool@0
        inputs:
          versionSpec: $(NODE_VERSION)
        displayName: Install Node.js
  ...

docs: Complete integration testing of all 10 enhancements
  .storybook/decorators.tsx
  .storybook/main.ts
  .storybook/mockData.ts
  INTEGRATION_COMPLETE.md
  INTEGRATION_TEST_REPORT.md
  api/.eslintrc.js
  api/scripts/fix-select-star-v3.ts
  api/scripts/fix-select-star.ts
Due: azure-pipelines-ci.yml, azure-pipelines-production.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

feat: Add comprehensive production deployment infrastructure
  DEPLOYMENT_GUIDE.md
  scripts/deployment/README.md
  scripts/deployment/build-docker.sh
  scripts/deployment/deploy-production.sh
  scripts/deployment/rollback.sh
  scripts/deployment/setup-azure-infrastructure.sh
  scripts/deployment/validate-production.sh
Due: azure-pipelines-ci.yml, azure-pipelines-production.yml, azure-pipelines.yml

docs: Add comprehensive production deployment completion report
  PRODUCTION_DEPLOYMENT_COMPLETE.md
Due: none

feat: Complete production deployment automation suite
  DEPLOYMENT_AUTOMATION_COMPLETE.md
  MONITORING_SETUP.md
  QA_EXECUTION_PLAYBOOK.md
  QUALITY_GATE_STATUS.md
  TEST_RESULTS.md
  docs/playbooks/high-error-rate.md
  docs/playbooks/performance-degradation.md
  docs/playbooks/security-incident.md
  docs/playbooks/service-outage.md
  monitoring/README.md
  monitoring/unified-dashboard-config.json
  package-lock.json
  package.json
  scripts/QUICK_START.md
  scripts/README.md
  scripts/build-docker.sh
  scripts/deploy-production.sh
  scripts/health-check.sh
  scripts/load-test.sh
  scripts/rollback.sh
  scripts/setup-azure-infrastructure.sh
  scripts/setup-azure-monitor.sh
  scripts/setup-posthog.sh
  scripts/setup-sentry.sh
  scripts/test-monitoring.sh
Due: azure-pipelines-ci.yml, azure-pipelines-production.yml, azure-pipelines.yml

test: Verify Azure DevOps accepts commits after BFG cleaning
  AZURE_DEVOPS_VERIFICATION.md
Due: none

docs: Complete final verification of all production tasks
  FINAL_VERIFICATION_COMPLETE.md
Due: none

Path conditions:
  azure-pipelines-ci.yml: any file but: README.md, docs, *.md
  azure-pipelines-production.yml: any file but: *.md, docs, .github
  azure-pipelines.yml: any file but: *.md, docs
  azure-pipelines/azure-pipelines-testing.yml: any of: api, src, e2e, tests
