Repository asmortongpt/Fleet-AzureDevOps: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-ci.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

Path conditions:
  azure-pipelines-ci.yml: any file but: README.md, docs, *.md
  azure-pipelines-production.yml: any file but: *.md, docs, .github
  azure-pipelines-simple-ci.yml: any file but: **/*.md, docs
  azure-pipelines.yml: any file but: *.md, docs
  azure-pipelines/azure-pipelines-testing.yml: any of: api, src, e2e, tests

feat(qa): Add production-ready QA framework with conservative recommendations
  QA_FRAMEWORK_SETUP.md
  qa-framework/.env
  qa-framework/PRODUCTION_MODE_GUIDE.md
  qa-framework/README.md
  qa-framework/package.json
  qa-framework/src/gates/accessibility-gate.ts
  qa-framework/src/gates/console-errors-gate.ts
  qa-framework/src/gates/performance-gate.ts
  qa-framework/src/gates/security-gate.ts
  qa-framework/src/lib/severity.ts
  qa-framework/src/orchestrator/master.ts
  qa-framework/test-production-mode.sh
  qa-framework/tsconfig.json
Due: azure-pipelines-ci.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml

docs(qa): Add comprehensive summary report for QA framework
  qa-framework/SUMMARY_REPORT.md
Due: azure-pipelines-ci.yml, azure-pipelines-production.yml, azure-pipelines.yml

fix(maps): Complete LeafletMap implementation and add timeout protection
  src/components/LeafletMap.tsx
  src/lib/arcgis/service.ts
Due: azure-pipelines-ci.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

fix: Replace non-existent Tool icon with Wrench and add fixed nginx Dockerfile
  Dockerfile.fixed
  src/components/drilldown/RecordDetailPanels.tsx
Due: azure-pipelines-ci.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

chore: Update production site test and add nginx Dockerfile
  Dockerfile.nginx
  prod-site-test.png
Due: azure-pipelines-ci.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml

security: Replace hardcoded secrets with Azure Key Vault references
  Dockerfile.nginx
  azure-pipelines-simple-ci.yml
  deploy-production.sh
Due: azure-pipelines-ci.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml

Merge PR #93: Integrate Fleet Showroom cinema-quality 3D components
  index.html
Due: azure-pipelines-ci.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml

docs(qa): Add comprehensive 50-agent QA suite report and security action plan
  QA_COMPREHENSIVE_REPORT_2026-01-04.md
  SECURITY_VULNERABILITIES_ACTION_PLAN.md
Due: none

docs(qa): Add QA suite execution summary and final report index
  QA_SUITE_EXECUTION_SUMMARY.txt
Due: azure-pipelines-ci.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml

docs(qa): Add comprehensive QA reports index and navigation guide
  QA_REPORTS_INDEX.md
Due: none

docs(qa): Add QA report manifest and filing guide
  QA_REPORT_MANIFEST.txt
Due: azure-pipelines-ci.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml
