Repository asmortongpt/Fleet-AzureDevOps: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-ci.yml, azure-pipelines-production.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

Path conditions:
  azure-pipelines-ci.yml: any file but: README.md, docs, *.md
  azure-pipelines-production.yml: any file but: *.md, docs, .github
  azure-pipelines.yml: any file but: *.md, docs
  azure-pipelines/azure-pipelines-testing.yml: any of: api, src, e2e, tests

chore: Remove files containing exposed secrets
  50_AGENT_DEPLOYMENT_STATUS.md
  DEPLOYMENT_FINAL_STATUS_SSH.md
  STREAMING_DEPLOYMENT_STATUS.md
Due: none

feat: Complete SkeletonLoader UI implementation
  src/components/UserProfile.tsx
  src/components/auth/TenantSwitcher.tsx
  src/components/common/VirtualList.tsx
Due: azure-pipelines-ci.yml, azure-pipelines-production.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

fix: Resolve 3D module export issues and update integration tests
  src/__tests__/integration/showroom-integration.test.ts
  src/materials/PhotorealisticMaterials.tsx
Due: azure-pipelines-ci.yml, azure-pipelines-production.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

fix: E2E port mismatch (5174) & vitest version alignment (4.0.16)
  package.json
  playwright.config.ts
Due: azure-pipelines-ci.yml, azure-pipelines-production.yml, azure-pipelines.yml

fix: WebSocket close codes (1006 -> 1000) in all locations
  api/src/services/websocket/server.ts
  api/tests/integration/websocket.test.ts
  src/lib/websocket-client.ts
Due: azure-pipelines-ci.yml, azure-pipelines-production.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

fix: add 6 missing methods to incident repository
  api/src/config/worker-pool.ts
  api/src/modules/incidents/repositories/incident.repository.ts
  api/src/workers/task-worker.ts
  package-lock.json
Due: azure-pipelines-ci.yml, azure-pipelines-production.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

feat: add E2E database and auth setup
  playwright.config.ts
  tests/e2e/setup/global-setup.ts
  tests/e2e/setup/global-teardown.ts
Due: azure-pipelines-ci.yml, azure-pipelines-production.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml
