Repository asmortongpt/Fleet-AzureDevOps: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-ci.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

azure-pipelines-ci.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: CodeQuality
    displayName: Code Quality & Linting
    jobs:
    - job: LintAndTypeCheck
      displayName: Lint and Type Check
      timeoutInMinutes: 15
      steps:
      - task: NodeTool@0
        displayName: Setup Node.js $(NODE_VERSION)
        inputs:
  ...

azure-pipelines-production.yml:
  stages:
  - stage: Build
    displayName: Build Application
    jobs:
    - job: BuildAndPush
      displayName: Build and Push Docker Image
      pool:
        vmImage: ubuntu-latest
      steps:
      - checkout: self
        fetchDepth: 0
        clean: true
      - task: Bash@3
        displayName: Display Build Info
  ...

azure-pipelines-simple-ci.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: BuildFrontend
    displayName: Build Frontend Application
    jobs:
    - job: Build
      displayName: Build & Lint Frontend
      timeoutInMinutes: 20
      steps:
      - task: NodeTool@0
        displayName: Setup Node.js $(NODE_VERSION)
        inputs:
  ...

azure-pipelines.yml:
  stages:
  - stage: Build
    displayName: Build and Push Docker Images
    jobs:
    - job: BuildImages
      displayName: Build All Services
      pool:
        vmImage: ubuntu-latest
      steps:
      - checkout: self
        fetchDepth: 1
      - task: AzureKeyVault@2
        displayName: Fetch Secrets from Key Vault
  ...

azure-pipelines/azure-pipelines-testing.yml:
  stages:
  - stage: CodeQuality
    displayName: Code Quality & Linting
    jobs:
    - job: Lint
      displayName: ESLint & TypeScript Check
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: NodeTool@0
        inputs:
          versionSpec: $(NODE_VERSION)
        displayName: Install Node.js
  ...

fix(typescript): Massive error reduction - 175 to 37 errors (-79%)
  MULTI_LLM_INSTRUCTIONS.md
  codacy-reports/COMPREHENSIVE-REMEDIATION-REPORT.md
  codacy-reports/all-issues-page1.json
  codacy-reports/error-issues.json
  codacy-reports/metrics.json
  codacy-reports/repository-overview.json
  codacy-reports/security-issues.json
  codacy-reports/warning-issues.json
  infra/terraform/keyvault.tf
  src/components/hubs/analytics/DataWorkbench.tsx
  src/components/hubs/safety/SafetyHub.tsx
  src/components/modules/maintenance/GarageService.tsx
  src/hooks/use-fleet-data.ts
  src/lib/policy-engine/policy-enforcement.ts
  src/lib/policy-engine/policy-rules-compiler.ts
  src/lib/policy-engine/types.ts
  src/lib/types.ts
  src/pages/AdminHub.tsx
  src/pages/AssetsHub.tsx
  src/pages/CTAConfigurationHub.tsx
  src/pages/CommunicationHub.tsx
  src/pages/ComplianceHub.tsx
  src/pages/ConfigurationHub.tsx
  src/pages/DataGovernanceHub.tsx
  src/pages/DriversHub.tsx
  src/pages/FinancialHub.tsx
  src/pages/FleetHub.tsx
  src/pages/MaintenanceHub.tsx
  src/pages/OperationsHub.tsx
  src/pages/PolicyHub.tsx
  src/pages/ProcurementHub.tsx
  src/pages/SafetyComplianceHub.tsx
  src/pages/SafetyHub.tsx
Due: azure-pipelines-ci.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

security(infra): Fix 29 critical security vulnerabilities from Codacy analysis
  infra/terraform/redis.tf
  infra/terraform/storage.tf
Due: azure-pipelines-ci.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml

docs(swarm-13): Update coordination file with security remediation progress
  MULTI_LLM_INSTRUCTIONS.md
Due: none

fix(typescript): Continue error reduction - 37 to 34 errors
  src/hooks/use-api.ts
  src/lib/types.ts
Due: azure-pipelines-ci.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

security(infra): Fix remaining 5 high-severity AKS and Key Vault issues (P1)
  infra/terraform/main.tf
  infra/terraform/security.tf
Due: azure-pipelines-ci.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml

docs(swarm-13): Update coordination file - ALL P0/P1 security issues RESOLVED
  MULTI_LLM_INSTRUCTIONS.md
Due: none

fix(typescript): Additional error fixes - 34 to 30 errors
  src/components/modules/admin/PolicyEngineWorkbench.tsx
  src/components/modules/integrations/EmailCenter.tsx
  src/components/ui/calendar.stories.tsx
  src/hooks/use-api.ts
Due: azure-pipelines-ci.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

fix(frontend): Resolve merge conflict in AlertDrilldowns.tsx
  src/components/drilldown/AlertDrilldowns.tsx
Due: azure-pipelines-ci.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

fix(typescript): Add 'info' variant support and fix type errors
  src/components/features/DrillDownChart.tsx
  src/components/hubs/analytics/DataWorkbench.tsx
  src/components/modules/integrations/EmailCenter.tsx
  src/components/ui/badge.tsx
  src/components/ui/stat-card.tsx
Due: azure-pipelines-ci.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

fix(typescript): Fix AlertDrilldowns variable naming and SWR typing
  src/components/drilldown/AlertDrilldowns.tsx
  src/components/hubs/analytics/DataWorkbench.tsx
  src/components/hubs/fleet/VehicleGrid.tsx
  src/components/hubs/safety/SafetyHub.tsx
Due: azure-pipelines-ci.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

fix(typescript): Remove unused @ts-expect-error directive (71 errors remaining)
  src/components/ui/calendar.stories.tsx
Due: azure-pipelines-ci.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

Path conditions:
  azure-pipelines-ci.yml: any file but: README.md, docs, *.md
  azure-pipelines-production.yml: any file but: *.md, docs, .github
  azure-pipelines-simple-ci.yml: any file but: **/*.md, docs
  azure-pipelines.yml: any file but: *.md, docs
  azure-pipelines/azure-pipelines-testing.yml: any of: api, src, e2e, tests
