Repository asmortongpt/Fleet-AzureDevOps: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-ci.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

Path conditions:
  azure-pipelines-ci.yml: any file but: README.md, docs, *.md
  azure-pipelines-production.yml: any file but: *.md, docs, .github
  azure-pipelines-simple-ci.yml: any file but: **/*.md, docs
  azure-pipelines.yml: any file but: *.md, docs
  azure-pipelines/azure-pipelines-testing.yml: any of: api, src, e2e, tests

feat: Add Fleet Demo Emulator Suite v2
  BRANCH_CONSOLIDATION_REPORT.md
  COMMIT_VERIFICATION_REPORT.md
  PHASE1_REMEDIATION_COMPLETION.md
  PR_CONFLICT_RESOLUTION_PLAN.md
  artifacts/ALL_COMMITS_LOG.txt
Due: azure-pipelines-ci.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml

fix: Resolve TypeScript errors and icon imports after merge
  artifacts/sync_test_20260108_123639.json
  package-lock.json
  scripts/test_repository_sync.py
  src/pages/CreateDamageReport.tsx
  src/pages/FleetHub.tsx
Due: azure-pipelines-ci.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

fix: Resolve TypeScript errors and icon imports after merge
  package-lock.json
  scripts/test_repository_sync.py
  src/pages/CreateDamageReport.tsx
  src/pages/FleetHub.tsx
Due: azure-pipelines-ci.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

feat: Add Python repository sync testing and Antigravity analysis
  ANTIGRAVITY_ANALYSIS.md
Due: none

feat: Add Python repository sync testing and Antigravity analysis
  .gitignore
  ANTIGRAVITY_ANALYSIS.md
  artifacts/sync_test_20260108_123639.json
Due: azure-pipelines-ci.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml

feat: Add Python repository sync testing and Antigravity analysis
  .gitignore
  ANTIGRAVITY_ANALYSIS.md
Due: azure-pipelines-ci.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml

feat: Add multi-provider hardware configuration system
  api/src/emulators/EmulatorOrchestrator.ts
  api/src/emulators/samsara/SamsaraEmulator.ts
  api/src/emulators/teltonika/README.md
  api/src/emulators/teltonika/TeltonikaEmulator.example.ts
  api/src/emulators/teltonika/TeltonikaEmulator.ts
  api/src/emulators/teltonika/index.ts
  api/src/routes/vehicle-hardware-config.routes.ts
  api/src/services/vehicle-hardware-config.service.ts
  src/components/vehicle/HardwareConfigurationPanel.example.tsx
  src/components/vehicle/HardwareConfigurationPanel.md
  src/components/vehicle/HardwareConfigurationPanel.tsx
  src/components/vehicle/types.ts
Due: azure-pipelines-ci.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

fix: Add ErrorBoundary wrappers to 8 hub pages for production resilience
  src/pages/AdminDashboard.tsx
  src/pages/AnalyticsHub.tsx
  src/pages/ComplianceHub.tsx
  src/pages/DocumentsHub.tsx
  src/pages/DriversHub.tsx
  src/pages/FinancialHub.tsx
  src/pages/MaintenanceHub.tsx
  src/pages/OperationsHub.tsx
Due: azure-pipelines-ci.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml
