Repository asmortongpt/Fleet-AzureDevOps: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-ci.yml, azure-pipelines-emulator-production.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

Path conditions:
  azure-pipelines-ci.yml: any file but: README.md, docs, *.md
  azure-pipelines-emulator-production.yml: any file but: *.md, docs
  azure-pipelines-production.yml: any file but: *.md, docs, .github
  azure-pipelines-simple-ci.yml: any file but: **/*.md, docs
  azure-pipelines.yml: any file but: *.md, docs
  azure-pipelines/azure-pipelines-testing.yml: any of: api, src, e2e, tests

feat: add comprehensive E2E production workflow test with 100% pass rate
  src/__tests__/e2e-production-workflow.test.ts
Due: azure-pipelines-ci.yml, azure-pipelines-emulator-production.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

chore: update development configuration
  api/src/routes/auth.ts
  src/@types/react-extensions.d.ts
  vite.config.ts
Due: azure-pipelines-ci.yml, azure-pipelines-emulator-production.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

feat: add Full-System Spider Certification infrastructure with 100% pass rate
  E2E_TEST_REPORT.md
  SPIDER_CERTIFICATION_FINAL_REPORT.md
  e2e_extended_workflows.py
  e2e_production_workflow.py
  infrastructure/certification_engine.py
  infrastructure/github_automation.py
  infrastructure/orchestration-schema.sql
  infrastructure/orchestrator.py
  infrastructure/run_spider_certification.py
  infrastructure/task_graph.py
Due: azure-pipelines-ci.yml, azure-pipelines-emulator-production.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml

security: Add authentication to 11 vulnerable scheduling endpoints
  api/src/routes/scheduling.routes.ts
Due: azure-pipelines-ci.yml, azure-pipelines-emulator-production.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

feat: add proper 404 and error handling to API server
  SECURITY_FIXES_APPLIED.md
  api/src/server-simple.ts
  generate-lightning-now.ts
  meshy-ai-production.ts
  monitor-3-models.py
  package-lock.json
  package.json
  src/components/drilldown/EmailDetailPanel.tsx
Due: azure-pipelines-ci.yml, azure-pipelines-emulator-production.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

security: Fix CSRF vulnerabilities in files 16-20 (batch 4)
  api/src/routes/documents.ts
  api/src/routes/emulator.routes.ts
Due: azure-pipelines-ci.yml, azure-pipelines-emulator-production.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

security: Fix unauthenticated write endpoints in batch 2 (files 6-10)
  SYSTEM_CERTIFICATION_STATUS.md
  api/database-integrity-test.ts
  api/src/middleware/security.production.ts
  api/src/routes/custom-reports.routes.ts
  api/src/routes/health.ts
  api/src/routes/inventory.routes.ts
  api/src/routes/maintenance-schedules.ts
  api/src/routes/mobile-hardware.routes.ts
  api/src/routes/outlook.routes.ts
  api/src/routes/production-ready-api.ts
  api/src/routes/purchase-orders-enhanced.routes.ts
  api/src/routes/routes.ts
  api/src/routes/search.ts
  src/@types/index.d.ts
  src/@types/react-extensions.d.ts
  src/@types/react-three-fiber.d.ts
  src/camera/CinematicCameraSystem.tsx
  src/components/garage/Asset3DViewer.tsx
  src/components/garage/DamageOverlay.tsx
  src/components/layout/CommandCenterLayout.tsx
  src/components/ui/validation-indicator.tsx
  src/features/fleet-3d/advanced-showroom/Enhanced3DVehicleShowroom.tsx
  src/features/fleet-3d/advanced-showroom/VehicleShowroom.tsx
  src/hooks/use-realtime-operations.ts
  src/hooks/useResizeObserver.ts
  src/lib/arcgis/service.ts
  src/vite-env.d.ts
Due: azure-pipelines-ci.yml, azure-pipelines-emulator-production.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

security: Fix unauthenticated write endpoints in batch 2 (files 6-10)
  SYSTEM_CERTIFICATION_STATUS.md
  api/database-integrity-test.ts
  api/src/middleware/security.production.ts
  api/src/routes/custom-reports.routes.ts
  api/src/routes/health.ts
  api/src/routes/inventory.routes.ts
  api/src/routes/maintenance-schedules.ts
  api/src/routes/mobile-hardware.routes.ts
  api/src/routes/outlook.routes.ts
  api/src/routes/production-ready-api.ts
  api/src/routes/purchase-orders-enhanced.routes.ts
  api/src/routes/routes.ts
  api/src/routes/search.ts
  src/@types/index.d.ts
  src/@types/react-extensions.d.ts
  src/@types/react-three-fiber.d.ts
  src/camera/CinematicCameraSystem.tsx
  src/components/garage/Asset3DViewer.tsx
  src/components/garage/DamageOverlay.tsx
  src/components/layout/CommandCenterLayout.tsx
  src/components/ui/validation-indicator.tsx
  src/features/fleet-3d/advanced-showroom/Enhanced3DVehicleShowroom.tsx
  src/features/fleet-3d/advanced-showroom/VehicleShowroom.tsx
  src/hooks/use-realtime-operations.ts
  src/hooks/useResizeObserver.ts
  src/lib/arcgis/service.ts
  src/vite-env.d.ts
  test-map-diagnostics.html
Due: azure-pipelines-ci.yml, azure-pipelines-emulator-production.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

security: Complete batch 3 authentication fixes (files 11-15)
  api/src/routes/heavy-equipment.routes.ts
  api/src/routes/purchase-orders-enhanced.routes.ts
Due: azure-pipelines-ci.yml, azure-pipelines-emulator-production.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

security: Add authentication to scheduling and production-ready API routes
  api/src/routes/production-ready-api.ts
  api/src/routes/scheduling.routes.ts
Due: azure-pipelines-ci.yml, azure-pipelines-emulator-production.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

docs: Add autonomous security remediation completion report
  SECURITY_REMEDIATION_COMPLETE.md
Due: none

fix: correct 404 handler to return 404 instead of 500
  api/src/middleware/sentryErrorHandler.ts
Due: azure-pipelines-ci.yml, azure-pipelines-emulator-production.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

feat: Achieve 300+ item certification milestone (302/551 = 54.8%)
  tests/certification/evidence-collector.spec.ts
  tests/certification/scoring-report.json
Due: azure-pipelines-ci.yml, azure-pipelines-emulator-production.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

docs: Add comprehensive end-to-end workflow and architecture documentation
  docs/architecture/CODEBASE_FILE_LOCATIONS.md
  docs/architecture/INDEX.md
  docs/architecture/README.md
  docs/architecture/SYSTEM_ANALYSIS_SUMMARY.md
  docs/architecture/cta_fleet_analysis.md
  index.html
Due: azure-pipelines-ci.yml, azure-pipelines-emulator-production.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml

Add untracked documentation files
  docs/architecture/CODEBASE_FILE_LOCATIONS.md
  docs/architecture/INDEX.md
  docs/architecture/README.md
  docs/architecture/SYSTEM_ANALYSIS_SUMMARY.md
  docs/architecture/cta_fleet_analysis.md
Due: none
