Repository asmortongpt/Fleet-AzureDevOps: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-ci.yml, azure-pipelines-production.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

Path conditions:
  azure-pipelines-ci.yml: any file but: README.md, docs, *.md
  azure-pipelines-production.yml: any file but: *.md, docs, .github
  azure-pipelines.yml: any of: api/src/**/*.ts, src/**/*.ts, package.json, api/package.json
  azure-pipelines/azure-pipelines-testing.yml: any of: api, src, e2e, tests

docs: Add comprehensive mobile optimization evidence pack
  MOBILE_OPTIMIZATION_EVIDENCE.md
Due: none

feat: Teams 6 & 7 - Architecture & Compliance Implementation
  operations/OPERATIONS_RUNBOOK.md
  operations/SLO_DASHBOARD_SETUP.md
  operations/TEAM5_OPERATIONS_MONITORING_COMPLETE.md
  operations/azure-monitor-alerts.bicep
  server/TEAM_6_7_COMPLETION_REPORT.md
  server/docs/API_V2_MIGRATION_GUIDE.md
  server/knexfile.ts
  server/migrations/20251209000001_add_tenant_id.ts
  server/migrations/20251209000002_add_audit_log_table.ts
  server/package-lock.json
  server/package.json
  server/src/index.ts
  server/src/jobs/data-retention.cron.ts
  server/src/lib/logger.ts
  server/src/lib/migrations.ts
  server/src/middleware/api-versioning.ts
  server/src/routes/cache-monitoring.ts
  server/src/routes/gdpr.ts
  server/src/routes/health.ts
  server/src/routes/soc2-compliance.ts
  server/src/scripts/migrate.ts
  server/src/services/audit-logger.service.ts
  server/src/services/cache.ts
  server/src/services/gdpr.service.ts
  src/components/error-boundary.tsx
  src/hooks/use-telemetry.ts
Due: azure-pipelines-ci.yml, azure-pipelines-production.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

docs: Add Team 5 executive summary - operations & monitoring complete
  TEAM5_EXECUTIVE_SUMMARY.md
Due: none

feat: Complete Team 4 Integration & Load Testing (100%)
  .github/workflows/integration-load-testing.yml
  LOAD_TESTING.md
  TEAM4_COMPLETION_REPORT.md
  TESTING.md
  tests/load/stretch-10k-users.js
  tests/load/target-1000-users.js
Due: azure-pipelines-ci.yml, azure-pipelines-production.yml, azure-pipelines/azure-pipelines-testing.yml

feat: Complete Team 1 authentication and RBAC system (100% complete)
  AUTH.md
  MULTI_TENANCY.md
  RBAC.md
  TEAM_1_COMPLETION_REPORT.md
  package-lock.json
  package.json
  src/components/auth/ProtectedRoute.tsx
  src/components/auth/RBACGuard.tsx
  src/components/auth/TenantSwitcher.tsx
  src/components/loading/ChartSkeleton.tsx
  src/components/loading/FleetDashboardSkeleton.tsx
  src/components/loading/NavigationSkeleton.tsx
  src/components/loading/VehicleFormSkeleton.tsx
  src/components/loading/index.ts
  src/contexts/AuthContext.tsx
  src/lib/auth/token-refresh.ts
  src/lib/navigation.ts
  src/lib/navigation.tsx
  src/lib/reactive-state.ts
  src/middleware/rbac.ts
  src/router/routes.tsx
  tests/security/multi-tenant-isolation.spec.ts
  tests/security/rbac-comprehensive.spec.ts
Due: azure-pipelines-ci.yml, azure-pipelines-production.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml
