Repository asmortongpt/Fleet-AzureDevOps: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-production.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

azure-pipelines-production.yml:
  stages:
  - stage: Build
    displayName: Build Application
    jobs:
    - job: BuildAndPush
      displayName: Build and Push Docker Image
      pool:
        vmImage: ubuntu-latest
      steps:
      - checkout: self
        fetchDepth: 0
        clean: true
      - task: Bash@3
        displayName: Display Build Info
  ...

azure-pipelines.yml:
  stages:
  - stage: Build
    displayName: Build Docker Image
    jobs:
    - job: BuildAndPush
      displayName: Build and Push Docker Image
      pool:
        vmImage: ubuntu-latest
      steps:
      - checkout: self
        fetchDepth: 0
        clean: true
      - task: Bash@3
  ...

azure-pipelines/azure-pipelines-testing.yml:
  stages:
  - stage: CodeQuality
    displayName: Code Quality & Linting
    jobs:
    - job: Lint
      displayName: ESLint & TypeScript Check
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: NodeTool@0
        inputs:
          versionSpec: $(NODE_VERSION)
        displayName: Install Node.js
  ...

fix: Change base path to relative for Azure Static Web Apps
  WHITE_SCREEN_FIX_APPLIED.md
  vite.config.ts
Due: azure-pipelines-production.yml, azure-pipelines.yml

docs: Add comprehensive PDCA documentation and white screen prevention
  PRODUCTION_RESTORE_REPORT.md
  WHITE_SCREEN_PREVENTION_CHECKLIST.md
  mobile-apps/ios-native/App/MoreView.swift.bak
  mobile-apps/ios-native/App/MoreView.swift.pre-telemetry
  mobile-apps/ios-native/App/NavigationCoordinator.swift.bak2
  mobile-apps/ios-native/App/NavigationCoordinator.swift.bak3
  src/App.tsx
  src/components/ui/button.tsx
  src/components/ui/input.tsx
  src/lib/api-client.ts
Due: azure-pipelines-production.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

docs: Complete white screen fix verification and session report
  SESSION_PROGRESS_REPORT.md
  WHITE_SCREEN_FIX_APPLIED.md
Due: none

docs: Add final PDCA summary report
  PDCA_FINAL_SUMMARY.md
Due: none

docs: Add comprehensive connectivity verification report
  COMPREHENSIVE_CONNECTIVITY_VERIFICATION.md
Due: none

Path conditions:
  azure-pipelines-production.yml: any file but: *.md, docs, .github
  azure-pipelines.yml: any file but: *.md, docs, .github
  azure-pipelines/azure-pipelines-testing.yml: any of: api, src, e2e, tests
