Repository asmortongpt/Fleet-AzureDevOps: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-ci.yml, azure-pipelines-emulator-production.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

azure-pipelines-ci.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: CodeQuality
    displayName: Code Quality & Linting
    jobs:
    - job: LintAndTypeCheck
      displayName: Lint and Type Check
      timeoutInMinutes: 15
      steps:
      - task: NodeTool@0
        displayName: Setup Node.js $(NODE_VERSION)
        inputs:
  ...

azure-pipelines-emulator-production.yml:
  stages:
  - stage: Build
    displayName: Build and Push Docker Images
    jobs:
    - job: BuildImages
      displayName: Build All Services
      pool:
        vmImage: ubuntu-latest
      steps:
      - checkout: self
        fetchDepth: 1
      - task: AzureKeyVault@2
        displayName: Fetch Secrets from Key Vault
  ...

azure-pipelines-production.yml:
  stages:
  - stage: Build
    displayName: Build Application
    jobs:
    - job: BuildAndPush
      displayName: Build and Push Docker Image
      pool:
        vmImage: ubuntu-latest
      steps:
      - checkout: self
        fetchDepth: 0
        clean: true
      - task: Bash@3
        displayName: Display Build Info
  ...

azure-pipelines-simple-ci.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: BuildFrontend
    displayName: Build Frontend Application
    jobs:
    - job: Build
      displayName: Build & Lint Frontend
      timeoutInMinutes: 20
      steps:
      - task: NodeTool@0
        displayName: Setup Node.js $(NODE_VERSION)
        inputs:
  ...

azure-pipelines.yml:
  stages:
  - stage: Build
    displayName: Build and Push Docker Images
    jobs:
    - job: BuildImages
      displayName: Build All Services
      pool:
        vmImage: ubuntu-latest
      steps:
      - checkout: self
        fetchDepth: 1
      - task: AzureKeyVault@2
        displayName: Fetch Secrets from Key Vault
  ...

azure-pipelines/azure-pipelines-testing.yml:
  stages:
  - stage: CodeQuality
    displayName: Code Quality & Linting
    jobs:
    - job: Lint
      displayName: ESLint & TypeScript Check
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: NodeTool@0
        inputs:
          versionSpec: $(NODE_VERSION)
        displayName: Install Node.js
  ...

fix: Update ArchonYLogo text to match official logo design
  src/components/branding/ArchonYLogo.tsx
Due: azure-pipelines-ci.yml, azure-pipelines-emulator-production.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

fix: Replace ArchonYLogo with official ARCHONY logo design
  src/components/branding/ArchonYLogo.tsx
Due: azure-pipelines-ci.yml, azure-pipelines-emulator-production.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

fix: Implement official ARCHONY logo design with swoosh
  src/components/branding/ArchonYLogo.tsx
Due: azure-pipelines-ci.yml, azure-pipelines-emulator-production.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

fix: Apply correct ARCHONY logo with inline SVG and swoosh design
  src/components/branding/ArchonYLogo.tsx
Due: azure-pipelines-ci.yml, azure-pipelines-emulator-production.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

fix: Scale ARCHONY logo to fit sidebar header (h-14 container)
  src/components/branding/ArchonYLogo.tsx
Due: azure-pipelines-ci.yml, azure-pipelines-emulator-production.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

fix: Use exact official ARCHONY logo image without modifications
  src/components/branding/ArchonYLogo.tsx
Due: azure-pipelines-ci.yml, azure-pipelines-emulator-production.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

fix: Display official ARCHONY logo in header - replaced CTAFleetLogo SVG with ArchonYLogo component
  src/components/branding/ArchonYLogo.tsx
  src/components/layout/CompactHeader.tsx
  tests/e2e/debug-logo-detailed.spec.ts
  tests/e2e/debug-logo-final.spec.ts
  tests/e2e/debug-logo-loading.spec.ts
  tests/e2e/visual-inspection.spec.ts
Due: azure-pipelines-ci.yml, azure-pipelines-emulator-production.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

feat: Add complete Docker setup for local and cloud deployment
  .dockerignore
  .env.docker
  Dockerfile.backend
  Dockerfile.frontend
  README.docker.md
  docker-compose.yml
  nginx.conf
Due: azure-pipelines-ci.yml, azure-pipelines-emulator-production.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml

fix: Working Docker setup with all services healthy
  .dockerignore
  BUILD_DOCKER.md
  Dockerfile.backend
  Dockerfile.frontend.slim
  docker-compose.yml
Due: azure-pipelines-ci.yml, azure-pipelines-emulator-production.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml

fix: Docker database migrations & seeding complete
  docker-compose.yml
Due: azure-pipelines-ci.yml, azure-pipelines-emulator-production.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml

fix: Fix Docker healthchecks and push images to Docker Hub
  Dockerfile.frontend.slim
  docker-compose.yml
Due: azure-pipelines-ci.yml, azure-pipelines-emulator-production.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml

fix: Fix logo rendering by copying files to clean filenames
  public/logos/approved-branding/archony-logo.png
  public/logos/approved-branding/cta-horizontal-dark.png
  public/logos/approved-branding/cta-horizontal-light.png
  public/logos/approved-branding/cta-icon-navy.png
  public/logos/approved-branding/cta-vertical-navy.png
  src/components/branding/ArchonYLogo.tsx
Due: azure-pipelines-ci.yml, azure-pipelines-emulator-production.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

feat: Major UI overhaul - CTA Navy branding, draggable AI chatbot
  src/components/ai/AIAssistantButton.tsx
  src/components/layout/CompactHeader.tsx
  src/components/layout/IconRail.tsx
  src/components/layout/SinglePageShell.tsx
Due: azure-pipelines-ci.yml, azure-pipelines-emulator-production.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

fix: Resolve console errors - CSRF, tenant ID mismatch, double /api/ prefix, health_score column
  api/src/emulators/config/default.json
  api/src/middleware/csrf.ts
  api/src/repositories/vehicles.repository.ts
  src/components/dashboard/LiveFleetDashboard.tsx
  src/contexts/AuthContext.tsx
  src/main.tsx
  tests/e2e/verify-ui.spec.ts
  tests/e2e/visual-inspect.spec.ts
Due: azure-pipelines-ci.yml, azure-pipelines-emulator-production.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

docs: Streamline CLAUDE.md - remove status reports, fix outdated info
  CLAUDE.md
Due: none

fix: Add Express 5 req.query writability shim for validation middleware
  api/src/server.ts
Due: azure-pipelines-ci.yml, azure-pipelines-emulator-production.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

fix: Move Google Fonts @import to top of index.css to fix CSS loading
  src/index.css
  src/styles/cta-hubs.css
Due: azure-pipelines-ci.yml, azure-pipelines-emulator-production.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

fix: Align route queries with actual DB schema and harden frontend data handling
  api/src/routes/charging-sessions.ts
  api/src/routes/communication-logs.ts
  api/src/routes/costs.ts
  api/src/routes/database.routes.ts
  api/src/routes/storage-admin.ts
  api/src/routes/training.routes.ts
  api/src/server.ts
  api/src/services/heavy-equipment.service.ts
  index.html
  src/components/dashboard/LiveFleetDashboard.tsx
  src/components/modules/charging/EVChargingManagement.tsx
  src/components/modules/integrations/GISCommandCenter.tsx
  src/services/userService.ts
Due: azure-pipelines-ci.yml, azure-pipelines-emulator-production.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

fix: Route cleanup, console.log removal, and ErrorBoundary hardening
  api/package-lock.json
  api/package.json
  api/src/auth/authService.ts
  api/src/main.ts
  api/src/routes/auth.routes.ts
  api/src/routes/damage-reports.routes.ts
  api/src/routes/emulators.routes.ts
  api/src/routes/fuel.routes.ts
  api/src/routes/garage-bays.ts
  api/src/routes/health-microsoft.routes.ts
  api/src/routes/health.ts
  api/src/routes/maintenance.ts
  api/src/server.ts
  api/src/services/document-geo.service.ts
  api/src/services/samsara.service.ts
  src/App.tsx
Due: azure-pipelines-ci.yml, azure-pipelines-emulator-production.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

fix: Remove 11 orphan route files and replace console.log in production code
  api/src/auth/authService.ts
  api/src/db/index.ts
  api/src/routes/ai.chat.ts
  api/src/routes/ai.plan.ts
  api/src/routes/ai.routes.ts
  api/src/routes/ai.tool.ts
  api/src/routes/dashboard-stats.example.ts
  api/src/routes/document-search.example.ts
  api/src/routes/maps-test.ts
  api/src/routes/monitoring/query-performance.enhanced.ts
  api/src/routes/performance.routes.ts
  api/src/routes/vehicles-refactored.example.ts
  api/src/routes/vehicles.optimized.example.ts
  api/src/routes/vendors.dal-example.ts
Due: azure-pipelines-ci.yml, azure-pipelines-emulator-production.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

chore: Add backup file patterns to .gitignore
  .gitignore
Due: azure-pipelines-ci.yml, azure-pipelines-emulator-production.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml

fix: Align brand colors to CTA NOON (#DD3903), remove .py scripts, add spider test
  .gitignore
  e2e_extended_workflows.py
  e2e_production_workflow.py
  fix-all-ts2304.py
  fix-logger-imports.py
  fix-malformed-imports.py
  fleet_visual_regression_demo.py
  fleet_visual_regression_extreme.py
  fleet_visual_test.py
  monitor-3-models.py
  remove-duplicate-imports.py
  src/components/Maps/AdvancedMapController.tsx
  src/components/Maps/EnhancedFleetMapDashboard.tsx
  src/components/animations/AnimatedComponents.tsx
  src/components/dashboard/AnimatedMetricsVisualization.tsx
  src/components/dashboard/EnhancedDashboardCard.tsx
  src/components/dashboard/PremiumFleetDashboard.tsx
  src/components/dashboard/UltraLuxuryDashboard.tsx
  src/components/ui/badge.tsx
  src/components/ui/button.tsx
  src/components/ui/card.tsx
  src/index.css
  src/lib/themes/README.md
  src/theme/designSystem.ts
  tests/e2e/full-app-spider.spec.ts
Due: azure-pipelines-ci.yml, azure-pipelines-emulator-production.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

fix: Remove junk files, fix responsive CSS, and clean nested api/api/ directory
  api/-30
  api/5
  api/api/Dockerfile.production
  api/api/eslint.config.js
  api/api/migrations/100_master_data_management.sql
  api/api/populate_mdm_simple.sql
  api/api/populate_mdm_tallahassee.sql
  api/api/src/db/reset/snapshots/integrity_test_1771020026458.dump
  api/api/src/db/reset/snapshots/integrity_test_1771031602778.dump
  api/api/src/db/reset/snapshots/integrity_test_1771032005020.dump
  api/api/src/db/reset/snapshots/test_snapshot_1767931712986.dump
  api/api/src/db/reset/snapshots/test_snapshot_1771020026311.dump
  api/api/src/db/reset/snapshots/test_snapshot_1771031602532.dump
  api/api/src/db/reset/snapshots/test_snapshot_1771032004968.dump
  api/api/update_tallahassee_data.sql
  api/api/update_tallahassee_data_fixed.sql
  api/api/update_vehicles_tallahassee.sql
  api/sleep
  api/tail
  src/components/modules/maintenance/.!65382!MaintenanceScheduling.tsx
  src/components/panels/TrafficCameraControlPanel.tsx
  src/components/shared/FilterPanel.tsx
  src/components/ui/alert-dialog.tsx
  src/components/ui/dialog.tsx
Due: azure-pipelines-ci.yml, azure-pipelines-emulator-production.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

fix: Add CSRF protection and Zod validation to security-sensitive routes
  api/src/routes/health-startup.routes.ts
  api/src/routes/sessions.ts
Due: azure-pipelines-ci.yml, azure-pipelines-emulator-production.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

chore: Remove duplicate incident-management and disabled route-emulator route files
  api/src/routes/incident-management.ts
  api/src/routes/route-emulator.routes.ts
Due: azure-pipelines-ci.yml, azure-pipelines-emulator-production.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

fix: Remove deleted incident-management route import from server.ts
  api/src/server.ts
Due: azure-pipelines-ci.yml, azure-pipelines-emulator-production.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

chore: Remove one-time Python fix scripts from repo
  api/add-validation-batch.py
  api/find-mixed-quotes.py
  api/fix-closing-parens.py
  api/fix-sql-quotes.py
  api/fix-ts-syntax.py
  api/fix-unterminated-strings.py
  scripts/replace-console-with-logger.py
Due: azure-pipelines-ci.yml, azure-pipelines-emulator-production.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

fix: Harden SWR fetchers, auth response format, and activate skip navigation
  api/src/routes/auth/azure-ad.ts
  src/App.tsx
  src/components/common/SkipNavigation.tsx
  src/components/drilldown/AssetRelationshipsList.tsx
  src/components/drilldown/DriverDetailPanel.tsx
  src/components/drilldown/DriverPerformanceView.tsx
  src/components/drilldown/DriverTripsView.tsx
  src/components/drilldown/FacilityDetailPanel.tsx
  src/components/drilldown/FacilityVehiclesView.tsx
  src/components/drilldown/GarageBayDrilldown.tsx
  src/components/drilldown/HazardZoneDetailPanel.tsx
  src/components/drilldown/IncidentDetailPanel.tsx
  src/components/drilldown/JobDetailPanel.tsx
  src/components/drilldown/LaborDetailsView.tsx
  src/components/drilldown/MaintenanceHubDrilldowns.tsx
  src/components/drilldown/OperationsHubDrilldowns.tsx
  src/components/drilldown/OperationsPerformanceDrilldown.tsx
  src/components/drilldown/PartsBreakdownView.tsx
  src/components/drilldown/PolicyDetailPanel.tsx
  src/components/drilldown/PolicyExecutionView.tsx
  src/components/drilldown/RouteDetailPanel.tsx
  src/components/drilldown/SafetyComplianceDrilldowns.tsx
  src/components/drilldown/SafetyHubDrilldowns.tsx
  src/components/drilldown/SafetyInspectionDrilldowns.tsx
  src/components/drilldown/SafetyTrainingDrilldowns.tsx
  src/components/drilldown/TaskDetailPanel.tsx
  src/components/drilldown/TripTelemetryView.tsx
  src/components/drilldown/VehicleAssignmentDrilldown.tsx
  src/components/drilldown/VehicleDetailPanel.tsx
  src/components/drilldown/VehicleTripsList.tsx
  src/components/drilldown/ViolationDetailPanel.tsx
  src/components/drilldown/WorkOrderDetailPanel.tsx
  src/components/drilldown/maintenance/PMScheduleDetailPanel.tsx
  src/index.css
Due: azure-pipelines-ci.yml, azure-pipelines-emulator-production.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

fix: Add Zod validation to 5 more routes, error boundaries to hub pages, and main landmark
  api/src/routes/communication-logs.ts
  api/src/routes/costs.ts
  api/src/routes/parts.ts
  api/src/routes/tasks.ts
  api/src/routes/vendors.ts
  src/components/layout/SinglePageShell.tsx
  src/pages/AdminConfigurationHub.tsx
  src/pages/BusinessManagementHub.tsx
  src/pages/ComplianceSafetyHub.tsx
  src/pages/FleetOperationsHub.tsx
  src/pages/PeopleCommunicationHub.tsx
Due: azure-pipelines-ci.yml, azure-pipelines-emulator-production.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

fix: Add Zod validation to PUT handlers and high-risk buildUpdateClause routes
  api/src/routes/asset-management.routes.ts
  api/src/routes/flair-expenses.ts
  api/src/routes/geofences.ts
  api/src/routes/incidents.ts
  api/src/routes/inspections-simple.ts
  api/src/routes/invoices.ts
  api/src/routes/maintenance-schedules.ts
  api/src/routes/osha-compliance.ts
  api/src/routes/policies.ts
  api/src/routes/policy-templates.ts
  api/src/routes/purchase-orders.ts
  api/src/routes/routes.ts
  api/src/routes/safety-incidents.ts
  api/src/routes/safety-training.ts
  api/src/routes/telemetry.ts
  api/src/routes/video-events.ts
  api/src/routes/work-orders.ts
Due: azure-pipelines-ci.yml, azure-pipelines-emulator-production.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

Path conditions:
  azure-pipelines-ci.yml: any file but: README.md, docs, *.md
  azure-pipelines-emulator-production.yml: any file but: *.md, docs
  azure-pipelines-production.yml: any file but: *.md, docs, .github
  azure-pipelines-simple-ci.yml: any file but: **/*.md, docs
  azure-pipelines.yml: any file but: *.md, docs
  azure-pipelines/azure-pipelines-testing.yml: any of: api, src, e2e, tests
