Repository asmortongpt/Fleet-AzureDevOps: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-ci.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

Path conditions:
  azure-pipelines-ci.yml: any file but: README.md, docs, *.md
  azure-pipelines-production.yml: any file but: *.md, docs, .github
  azure-pipelines-simple-ci.yml: any file but: **/*.md, docs
  azure-pipelines.yml: any file but: *.md, docs
  azure-pipelines/azure-pipelines-testing.yml: any of: api, src, e2e, tests

docs: create comprehensive systematic remediation backlog
  SYSTEMATIC_REMEDIATION_BACKLOG.md
Due: none

fix: TS2554 render function argument count in FleetStatsDrilldowns
  src/components/drilldown/FleetStatsDrilldowns.tsx
Due: azure-pipelines-ci.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

fix: Add named export for logger to support { logger } imports (fixes TS2614)
  src/utils/logger.ts
Due: azure-pipelines-ci.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

fix: Add missing Stack import to SafetyComplianceSystem (fixes TS2304)
  .app-test.json
  .llm-context.json
  .pa11yci.json
  .remediation-progress.json
  src/features/business/safety/SafetyComplianceSystem.tsx
Due: azure-pipelines-ci.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

chore: Exclude experimental features with missing dependencies from type checking (744 errors remaining)
  .safety-policy.yml
  tsconfig.json
Due: azure-pipelines-ci.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml

fix: Add AlertData type to fix property access errors in AlertDrilldowns
  src/components/drilldown/AlertDrilldowns.tsx
Due: azure-pipelines-ci.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml
