Repository asmortongpt/Fleet-AzureDevOps: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-ci.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

azure-pipelines-ci.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: CodeQuality
    displayName: Code Quality & Linting
    jobs:
    - job: LintAndTypeCheck
      displayName: Lint and Type Check
      timeoutInMinutes: 15
      steps:
      - task: NodeTool@0
        displayName: Setup Node.js $(NODE_VERSION)
        inputs:
  ...

azure-pipelines-production.yml:
  stages:
  - stage: Build
    displayName: Build Application
    jobs:
    - job: BuildAndPush
      displayName: Build and Push Docker Image
      pool:
        vmImage: ubuntu-latest
      steps:
      - checkout: self
        fetchDepth: 0
        clean: true
      - task: Bash@3
        displayName: Display Build Info
  ...

azure-pipelines-simple-ci.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: BuildFrontend
    displayName: Build Frontend Application
    jobs:
    - job: Build
      displayName: Build & Lint Frontend
      timeoutInMinutes: 20
      steps:
      - task: NodeTool@0
        displayName: Setup Node.js $(NODE_VERSION)
        inputs:
  ...

azure-pipelines.yml:
  stages:
  - stage: Build
    displayName: Build and Push Docker Images
    jobs:
    - job: BuildImages
      displayName: Build All Services
      pool:
        vmImage: ubuntu-latest
      steps:
      - checkout: self
        fetchDepth: 1
      - task: AzureKeyVault@2
        displayName: Fetch Secrets from Key Vault
  ...

azure-pipelines/azure-pipelines-testing.yml:
  stages:
  - stage: CodeQuality
    displayName: Code Quality & Linting
    jobs:
    - job: Lint
      displayName: ESLint & TypeScript Check
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: NodeTool@0
        inputs:
          versionSpec: $(NODE_VERSION)
        displayName: Install Node.js
  ...

docs: Add comprehensive staging deployment guide for Policy Engine
  STAGING_DEPLOYMENT_GUIDE.md
Due: none

feat: Complete local Policy Engine deployment with simplified migrations
  LOCAL_DEPLOYMENT_COMPLETE.md
  api/migrations/policy_engine_simplified.sql
Due: azure-pipelines-ci.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

security: Remove all hardcoded Google Maps API keys
  .gitignore
  COMPLETE_FIX_REPORT.md
  CRYPTOGRAPHIC_EVIDENCE_REPORT.md
  FINAL_ERROR_FIX_REPORT.md
  GOOGLE_MAPS_ACCESS_GUIDE.md
  SYSTEM_STATUS.md
  backups/fleet_db_backup_20260103.sql
  complete-system-verification.cjs
  src/pages/GoogleMapsTest.tsx
  verify-all-systems.sh
  verify-api.sh
Due: azure-pipelines-ci.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

security: Remove all hardcoded Google Maps API keys
  .gitignore
  backups/fleet_db_backup_20260103.sql
Due: azure-pipelines-ci.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml

feat: Add comprehensive drill-down navigation to Safety Hub
  src/components/DrilldownManager.tsx
  src/components/drilldown/HazardZoneDetailPanel.tsx
  src/components/drilldown/SafetyHubDrilldowns.tsx
  src/components/hubs/safety/SafetyHub.tsx
Due: azure-pipelines-ci.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

feat: Comprehensive drill-down enhancements across all major hubs
  POLICY_ENGINE_DRILLDOWN_ENHANCEMENTS.md
  src/components/DrilldownManager.tsx
  src/components/dashboard/LiveFleetDashboard.tsx
  src/components/drilldown/FleetStatsDrilldowns.tsx
  src/components/drilldown/OperationsHubDrilldowns.tsx
  src/components/drilldown/PolicyExecutionView.tsx
  src/components/drilldown/PolicyTemplateDetailPanel.tsx
  src/components/drilldown/ViolationDetailPanel.tsx
  src/components/hubs/maintenance/MaintenanceHub.tsx
  src/components/hubs/operations/OperationsHub.tsx
Due: azure-pipelines-ci.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

Path conditions:
  azure-pipelines-ci.yml: any file but: README.md, docs, *.md
  azure-pipelines-production.yml: any file but: *.md, docs, .github
  azure-pipelines-simple-ci.yml: any file but: **/*.md, docs
  azure-pipelines.yml: any file but: *.md, docs
  azure-pipelines/azure-pipelines-testing.yml: any of: api, src, e2e, tests
