Repository asmortongpt/Fleet-AzureDevOps: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-ci.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

Path conditions:
  azure-pipelines-ci.yml: any file but: README.md, docs, *.md
  azure-pipelines-production.yml: any file but: *.md, docs, .github
  azure-pipelines-simple-ci.yml: any file but: **/*.md, docs
  azure-pipelines.yml: any file but: *.md, docs
  azure-pipelines/azure-pipelines-testing.yml: any of: api, src, e2e, tests

fix: Add ErrorBoundary wrappers to 8 hub pages for production resilience
  src/pages/AdminDashboard.tsx
  src/pages/AnalyticsHub.tsx
  src/pages/ComplianceHub.tsx
  src/pages/DocumentsHub.tsx
  src/pages/DriversHub.tsx
  src/pages/FinancialHub.tsx
  src/pages/MaintenanceHub.tsx
  src/pages/OperationsHub.tsx
Due: azure-pipelines-ci.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

security: Redact PAT token from sync test artifacts
  incoming_data/azure_nextgen/Fleet-main/artifacts/sync_test_20260108_123639.json
Due: azure-pipelines-ci.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml

fix: Apply consistent UI design across SafetyHub and ComplianceHub
  package.json
  src/pages/ComplianceHub.tsx
  src/pages/SafetyHub.tsx
Due: azure-pipelines-ci.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

docs: Add API quick start and completion documentation
  DATABASE_CONNECTION_COMPLETE.md
  QUICK_START_API.md
Due: none

fix: Enable session authentication and CORS for localhost development
  COMPREHENSIVE_REQUIREMENTS_DOCUMENT.html
  api/src/routes/auth.ts
  api/src/server.ts
  src/contexts/AuthContext.tsx
Due: azure-pipelines-ci.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

docs: Add comprehensive completion reports and UI enhancement documentation
  FINAL_COMPLETION_REPORT.md
  UI_ENHANCEMENTS_SUMMARY.md
  src/components/demo/RoleSwitcher.tsx
  src/contexts/AuthContext.tsx
  src/lib/microsoft-auth.ts
  src/main.tsx
  tailwind.config.js.v3_backup
Due: azure-pipelines-ci.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

chore: Remove sensitive directories from repository
  azure-test-agents/azure-vm-setup.sh
  azure-test-agents/comprehensive-test-suite.sh
  azure-test-agents/deploy-to-azure.sh
Due: azure-pipelines-ci.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml

security: remove authentication bypass, restrict to test environment only
  src/contexts/AuthContext.tsx
Due: azure-pipelines-ci.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

fix: Replace eval() and Function() with safe alternatives to prevent code injection
  COMPLETE_REQUIREMENTS_MASTER.html
  TECHNICAL_REFERENCE.html
  api/src/services/documents/workflow-engine.ts
  api/src/tests/security/code-injection-fixes.test.ts
  artifacts/fedramp/control_mapping.md
  artifacts/fedramp/poam.md
  artifacts/fedramp/sbom.json
  artifacts/security/codacy_validation_report.md
  artifacts/standards_library/fedramp_moderate_baseline.md
  artifacts/standards_library/nist_800_218_ssdf.md
  artifacts/standards_library/nist_800_53_families.md
  artifacts/standards_library/owasp_asvs_l2_checklist.md
  artifacts/standards_library/owasp_top10_2021.md
  artifacts/system_map/SYSTEM_KNOWLEDGE_GRAPH_SUMMARY.md
  artifacts/system_map/backend_endpoints.json
  artifacts/system_map/db_schema.json
  artifacts/system_map/frontend_routes.json
  artifacts/system_map/integrations.json
  artifacts/system_map/jobs_and_queues.json
  artifacts/system_map/rbac_model.json
  artifacts/system_map/ui_element_inventory.json
  scripts/validate-security-fixes.sh
  src/components/reports/DynamicReportRenderer.tsx
  src/lib/policy-engine/policy-enforcement-engine.ts
Due: azure-pipelines-ci.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

docs: Add comprehensive code injection remediation report
  artifacts/security/code_injection_remediation_report.md
Due: azure-pipelines-ci.yml, azure-pipelines-production.yml, azure-pipelines.yml
