Repository asmortongpt/Fleet-AzureDevOps: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-ci.yml, azure-pipelines-emulator-production.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

Path conditions:
  azure-pipelines-ci.yml: any file but: README.md, docs, *.md
  azure-pipelines-emulator-production.yml: any file but: *.md, docs
  azure-pipelines-production.yml: any file but: *.md, docs, .github
  azure-pipelines-simple-ci.yml: any file but: **/*.md, docs
  azure-pipelines.yml: any file but: *.md, docs
  azure-pipelines/azure-pipelines-testing.yml: any of: api, src, e2e, tests

Add .npmrc with legacy-peer-deps to fix CI dependency resolution
  .npmrc
  api/.npmrc
Due: azure-pipelines-ci.yml, azure-pipelines-emulator-production.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

Fix Azure SWA deployment: remove api_location to prevent memory issues
  .github/workflows/production-deployment.yml
Due: azure-pipelines-ci.yml, azure-pipelines-emulator-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml

feat: auto-register Azure AD preview URLs for PR environments
  .github/workflows/azure-ad-preview-urls.yml
Due: azure-pipelines-ci.yml, azure-pipelines-emulator-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml

test main branch lock
  src/pages/403.tsx
Due: azure-pipelines-ci.yml, azure-pipelines-emulator-production.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

docs: Add local development workflow guide
  LOCAL_DEVELOPMENT_WORKFLOW.md
Due: none

fix: Resolve SSO authentication login loop on Azure Static Web Apps
  e2e/verify-infinite-loop-fix.spec.ts
  src/contexts/AuthContext.tsx
  src/main.tsx
Due: azure-pipelines-ci.yml, azure-pipelines-emulator-production.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

fix: Restore MSAL initialization and enhance authentication debugging
  AUTHCONTEXT_FIX_SUMMARY.md
  AUTHCONTEXT_MSAL_ANALYSIS.md
  AUTHENTICATION_DEBUG_QUICK_REF.md
  SSO_TEST_COMPREHENSIVE_REPORT.md
  SSO_TEST_FINAL_SUMMARY.md
  SSO_TEST_QUICK_REFERENCE.md
  TODAYS_CHANGES_2026-01-26.md
  e2e/sso-final-test.spec.ts
  e2e/verify-infinite-loop-fix.spec.ts
  src/components/ProtectedRoute.tsx
  src/main.tsx
  vite.config.ts
Due: azure-pipelines-ci.yml, azure-pipelines-emulator-production.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

docs: Add SSO Test Index - master documentation index for comprehensive SSO testing suite
  SSO_TEST_INDEX.md
Due: none

fix: Resolve infinite render loop in Login page (proper fix)
  BROWSER_TEST_REPORT_FINAL.md
  FINAL_DELIVERY_SUMMARY.md
  MAINTENANCE_SCHEDULES_FIX_HANDOFF.md
  QUICK_STATUS_SUMMARY.md
  api/src/routes/maintenance-schedules.ts
  e2e/maintenance-schedules-fix-verification.spec.ts
  src/pages/Login.tsx
Due: azure-pipelines-ci.yml, azure-pipelines-emulator-production.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

Fix infinite loading loop - handle MSAL InteractionStatus.Startup
  .gitignore
  INFINITE_LOOP_FIX_SUMMARY.md
  MAINTENANCE_SCHEDULES_COMPREHENSIVE_FIX_COMPLETE.md
  api/src/routes/maintenance-schedules.ts
  check-browser-console.cjs
  src/components/ProtectedRoute.tsx
  src/contexts/AuthContext.tsx
  src/pages/Login.tsx
  sso-flow-complete.spec.ts
  sso-test-visual.spec.ts
Due: azure-pipelines-ci.yml, azure-pipelines-emulator-production.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

docs: Update session summary with infinite loop fix details
  TODAYS_CHANGES_2026-01-26.md
Due: none

refactor: Improve MSAL state handling for future-proofing
  SSO_AUTHENTICATION_STATUS.md
  src/components/ProtectedRoute.tsx
  src/contexts/AuthContext.tsx
  test-all-workflows.spec.ts
Due: azure-pipelines-ci.yml, azure-pipelines-emulator-production.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

docs: Update documentation with improved MSAL state handling implementation
  INFINITE_LOOP_FIX_SUMMARY.md
  TODAYS_CHANGES_2026-01-26.md
Due: none
