Repository asmortongpt/Fleet-AzureDevOps: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-ci.yml, azure-pipelines-emulator-production.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

Path conditions:
  azure-pipelines-ci.yml: any file but: README.md, docs, *.md
  azure-pipelines-emulator-production.yml: any file but: *.md, docs
  azure-pipelines-production.yml: any file but: *.md, docs, .github
  azure-pipelines-simple-ci.yml: any file but: **/*.md, docs
  azure-pipelines.yml: any file but: *.md, docs
  azure-pipelines/azure-pipelines-testing.yml: any of: api, src, e2e, tests

feat: Remove all mock/demo data and fix API errors - production ready
  api/src/config/database.ts
  api/src/middleware/auth.ts
  api/src/middleware/development-auth-bypass.ts
  api/src/middleware/permissions.ts
  api/src/middleware/tenant-context.ts
  api/src/modules/facilities/repositories/facility.repository.ts
  api/src/routes/alerts.routes.ts
  api/src/routes/drivers.ts
  api/src/routes/maintenance-schedules.ts
  api/src/routes/routes.ts
  api/src/routes/traffic-cameras.ts
  api/src/routes/work-orders.ts
  api/src/server.ts
  api/src/services/FuelTransactionService.ts
  api/src/services/ml-training.service.ts
  api/src/services/push-notification.service.ts
  api/src/services/sms.service.ts
  api/src/services/triposr.service.ts
  check-console-errors.mjs
Due: azure-pipelines-ci.yml, azure-pipelines-emulator-production.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

feat: Integrate CLAWS.BOT anti-hallucination verification system
  .clawsrc.json
  .gitignore
  CLAWS_BOT_INTEGRATION.md
  CLAWS_COMMANDS.txt
  claws.sh
  package.json
  src/pages/deprecated/AnalyticsWorkbenchPage.tsx
  src/pages/deprecated/CostAnalyticsPage.tsx
  src/pages/deprecated/InsightsHub.tsx
Due: azure-pipelines-ci.yml, azure-pipelines-emulator-production.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

fix: Resolve TypeScript compilation errors across multiple components
  package-lock.json
  src/components/AssetComboManager.enhanced.tsx
  src/components/AssetComboManager.tsx
  src/components/AssetTypeFilter.tsx
  src/components/admin/EmulatorDashboard.tsx
  src/components/admin/MonitoringDashboard.tsx
  src/components/admin/SystemHealthWidget.tsx
  src/components/common/ScannerModal.tsx
  src/components/common/VehicleIdentification.tsx
  src/components/common/VideoPlayer.tsx
  src/components/dashboard/AllEndpointsMonitor.tsx
  src/components/dashboards/roles/DispatcherDashboard.tsx
  src/components/dashboards/roles/MaintenanceManagerDashboard.tsx
  src/components/filters/AssetTypeFilter.tsx
  src/components/video/VideoPlayer.tsx
  src/pages/OperationsHub.tsx
Due: azure-pipelines-ci.yml, azure-pipelines-emulator-production.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

feat: Apply CTA branding and production preparation
  .clawdrc.json
  CLAWD_BOT_INTEGRATION.md
  CLAWD_COMMANDS.txt
  CONSOLIDATED_HUBS_VERIFICATION.md
  CTA_BRANDING_IMPLEMENTATION.md
  ISSUES_FOUND_AND_FIXES.md
  PRODUCTION_DEPLOYMENT_SUMMARY.md
  SCREEN_CONSOLIDATION_SUMMARY.md
  TASK_COMPLETION_SUMMARY.md
  UI_REDESIGN_REQUIREMENTS.md
  api/package.json
  api/src/services/health/startup-health-check.service.ts
  clawd.sh
  claws.sh
  comprehensive-audit.spec.ts
  package-lock.json
  package.json
  src/App.tsx
  src/components/layout/CommandCenterHeader.tsx
  src/components/ui/hub-page.tsx
  src/index.css
  src/lib/navigation.tsx
  src/pages/AdminConfigurationHub.tsx
  src/pages/BusinessManagementHub.tsx
  src/pages/ComplianceSafetyHub.tsx
  src/pages/FleetOperationsHub.tsx
  src/pages/OperationsHub.tsx
  src/pages/PeopleCommunicationHub.tsx
  tests/comprehensive-interactive-test.spec.ts
  tests/consolidated-hubs.spec.ts
  tests/hub-buttons-focused-test.spec.ts
  tests/quick-diagnostic.spec.ts
Due: azure-pipelines-ci.yml, azure-pipelines-emulator-production.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

fix: Reduce TypeScript errors and restore ESLint configuration
  API_INTEGRATION_STATUS.md
  FLEET_COMPLETE_FEATURE_LIST.md
  HONEST_STATUS_REPORT.md
  api/src/db/migrations/016_vehicle_reservations.sql
  api/src/migrations/1016_vehicle_reservations.sql
  api/src/routes/reservations.ts
  api/src/server.ts
  eslint.config.js
  package-lock.json
  package.json
  src/components/admin/AlertsPanel.tsx
  src/components/documents/DocumentMapCluster.tsx
  src/components/drilldown/ExcelStyleTable.tsx
  src/components/drilldown/FleetStatsDrilldowns.tsx
  src/components/drilldown/MaintenanceRequestDrilldowns.tsx
  src/components/fleet/VehicleReservation.tsx
  src/hooks/use-reservations.ts
  src/pages/FleetOperationsHub.tsx
  src/services/microsoft365Service.ts
Due: azure-pipelines-ci.yml, azure-pipelines-emulator-production.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

docs: Add Fleet complete feature list documentation
  Fleet_Complete_Feature_List.docx
  create_fleet_features_docx.cjs
Due: azure-pipelines-ci.yml, azure-pipelines-emulator-production.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml

docs: Add comprehensive session completion report
  SESSION_COMPLETION_REPORT_JAN30.md
Due: none

fix: Resolve all 41 TypeScript errors in AdvancedAnalyticsDashboard
  api/src/routes/incidents.ts
  src/App.tsx
  src/components/fuel/FuelCardDialog.tsx
  src/components/fuel/FuelTransactionDialog.tsx
  src/components/incident/IncidentReportDialog.tsx
  src/components/incident/InvestigationDialog.tsx
  src/features/business/analytics/AdvancedAnalyticsDashboard.tsx
  src/features/business/safety/SafetyComplianceSystem.tsx
  src/features/services/analytics/AdvancedAnalyticsService.ts
  src/hooks/use-reactive-fuel-data.ts
  src/hooks/use-reactive-incident-data.ts
  src/pages/FuelHub.tsx
  src/pages/IncidentHub.tsx
  src/types/drilldown.ts
  src/utils/drilldown-helpers.ts
Due: azure-pipelines-ci.yml, azure-pipelines-emulator-production.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

docs: Add extended session completion report with metrics
  EXTENDED_SESSION_COMPLETE_JAN30.md
Due: none

chore: Remove deprecated pages (100 TypeScript errors)
  src/pages/deprecated/AdminDashboard.tsx
  src/pages/deprecated/AnalyticsWorkbenchPage.tsx
  src/pages/deprecated/ConfigurationHub.tsx
  src/pages/deprecated/CostAnalyticsPage.tsx
  src/pages/deprecated/InsightsHub.tsx
  src/pages/deprecated/Operations/Drivers.tsx
  src/pages/deprecated/Operations/Maintenance.tsx
  src/pages/deprecated/Operations/Routes.tsx
  src/pages/deprecated/Operations/Vehicles.tsx
  src/pages/deprecated/SafetyAlertsPage.tsx
  src/pages/deprecated/SafetyComplianceHub.tsx
Due: azure-pipelines-ci.yml, azure-pipelines-emulator-production.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml
