Repository asmortongpt/Fleet-AzureDevOps: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-ci.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

Path conditions:
  azure-pipelines-ci.yml: any file but: README.md, docs, *.md
  azure-pipelines-production.yml: any file but: *.md, docs, .github
  azure-pipelines-simple-ci.yml: any file but: **/*.md, docs
  azure-pipelines.yml: any file but: *.md, docs
  azure-pipelines/azure-pipelines-testing.yml: any of: api, src, e2e, tests

feat: Integrate Grok-generated UI components into routing
  src/pages/IntegrationsTruth.tsx
  src/routes.tsx
Due: azure-pipelines-ci.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

docs: Add Grok UI integration completion summary
  GROK_UI_INTEGRATION_COMPLETE.md
Due: none

feat: Grok-generated UI redesign - Definitive Correct UI Vision
  GROK_UI_REDESIGN_REPORT.json
  src/pages/AdminControl.tsx
  src/pages/AnalyticsViz.tsx
  src/pages/DashboardCommand.tsx
  src/pages/IntegrationsTruth.tsx
  src/pages/OperationsCommand.tsx
Due: azure-pipelines-ci.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

fix: Update Grok agent to use grok-3 model (grok-beta deprecated)
  grok-ui-agent.js
Due: azure-pipelines-ci.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml

feat: Modernize InsightsHub with React Query and responsive design
  src/hooks/use-reactive-insights-data.ts
  src/pages/InsightsHub.tsx
Due: azure-pipelines-ci.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

feat: Modernize PeopleHub with React Query and responsive visualizations
  src/hooks/use-reactive-people-data.ts
  src/pages/PeopleHub.tsx
Due: azure-pipelines-ci.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

feat: Modernize CommunicationHub with React Query and responsive visualizations
  src/hooks/use-reactive-communication-data.ts
  src/pages/CommunicationHub.tsx
Due: azure-pipelines-ci.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

feat: Modernize AdminHub following DriversHub/ComplianceHub pattern
  src/hooks/use-reactive-admin-data.ts
  src/pages/AdminHub.tsx
Due: azure-pipelines-ci.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

feat: Modernize DocumentsHub with React Query and 4-tab architecture
  src/hooks/use-reactive-configuration-data.ts
  src/hooks/use-reactive-documents-data.ts
  src/pages/ConfigurationHub.tsx
  src/pages/DocumentsHub.tsx
Due: azure-pipelines-ci.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

feat: Modernize FinancialHub following DriversHub/ComplianceHub pattern
  src/hooks/use-reactive-financial-data.ts
  src/hooks/use-reactive-policy-data.ts
  src/pages/FinancialHub.tsx
  src/pages/PolicyHub.tsx
Due: azure-pipelines-ci.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml
