Repository asmortongpt/Fleet-AzureDevOps: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-ci.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

Path conditions:
  azure-pipelines-ci.yml: any file but: README.md, docs, *.md
  azure-pipelines-production.yml: any file but: *.md, docs, .github
  azure-pipelines-simple-ci.yml: any file but: **/*.md, docs
  azure-pipelines.yml: any file but: *.md, docs
  azure-pipelines/azure-pipelines-testing.yml: any of: api, src, e2e, tests

chore: Add deployment scripts, test files, and update dependencies
  COMPLETE_IMPLEMENTATION_INDEX.md
  api/src/__tests__/simple-integration.test.ts
  deployment/vm-agent-tasks/01-typescript-fixes-agent.sh
  deployment/vm-agent-tasks/02-database-partitioning-agent.sh
  jest.config.cjs
  package-lock.json
  package.json
  scripts/start-agent-orchestration.sh
Due: azure-pipelines-ci.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

chore: Add agent orchestration script and update policy enforcement
  api/src/services/policy/PolicyEnforcementService.ts
  scripts/orchestrate-10-agents.sh
Due: azure-pipelines-ci.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

feat: Add 10-agent parallel orchestration system for production upgrade
  deployment/azure-ad-integration/microsoft-graph-setup.sh
Due: azure-pipelines-ci.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml

docs: Add comprehensive deployment instructions for 10-agent orchestration
  DEPLOYMENT_INSTRUCTIONS.md
Due: none

feat: Add governance and monitoring services for enterprise features
  api/src/services/governance/DataGovernanceService.ts
  api/src/services/monitoring/MonitoringService.ts
Due: azure-pipelines-ci.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

docs: Add comprehensive integration test results and service completion summary
  INTEGRATION_TEST_RESULTS.md
  SERVICES_COMPLETION_SUMMARY.md
Due: none

feat: Enterprise-grade foundation with USWDS 3.0 design system
  src/shared/design-system/components/DataGrid.tsx
  src/shared/design-system/components/Table.tsx
  src/shared/design-system/components/index.ts
  src/shared/design-system/tokens/colors.ts
  src/shared/design-system/tokens/index.ts
  src/shared/design-system/tokens/spacing.ts
  src/shared/design-system/tokens/typography.ts
  src/shared/security/audit/AuditLogger.ts
  src/shared/security/encryption/EncryptionService.ts
Due: azure-pipelines-ci.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

feat: Integrate Fleet design system with tenant branding
  src/main.tsx
  src/shared/branding/BrandingProvider.tsx
  src/shared/branding/index.ts
  src/shared/branding/types.ts
  src/shared/design-system/components/EntityAvatar.tsx
  src/shared/design-system/components/RowExpandPanel.tsx
  src/shared/design-system/components/StatusChip.tsx
  src/shared/design-system/components/index.ts
  src/shared/design-system/types/index.ts
  src/styles/fleet-theme.css
Due: azure-pipelines-ci.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

feat: Integrate Fleet Design System - Table-First Navigation Pattern
  src/components/fleet/VehicleTable.tsx
  src/components/fleet/mockVehicleData.ts
  src/pages/FleetHub.tsx
Due: azure-pipelines-ci.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

feat: Activate tenant branding system and cleanup
  src/components/fleet/mockVehicleData.ts
  src/main.tsx
Due: azure-pipelines-ci.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

feat: Implement professional Fleet Design System with table-first navigation
  src/pages/FleetHub.tsx
  src/shared/design-system/EntityAvatar.tsx
  src/shared/design-system/RowExpandPanel.tsx
  src/shared/design-system/StatusChip.tsx
  src/shared/design-system/types.ts
Due: azure-pipelines-ci.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml
