Repository asmortongpt/Fleet-AzureDevOps: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-ci.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

azure-pipelines-ci.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: CodeQuality
    displayName: Code Quality & Linting
    jobs:
    - job: LintAndTypeCheck
      displayName: Lint and Type Check
      timeoutInMinutes: 15
      steps:
      - task: NodeTool@0
        displayName: Setup Node.js $(NODE_VERSION)
        inputs:
  ...

azure-pipelines-production.yml:
  stages:
  - stage: Build
    displayName: Build Application
    jobs:
    - job: BuildAndPush
      displayName: Build and Push Docker Image
      pool:
        vmImage: ubuntu-latest
      steps:
      - checkout: self
        fetchDepth: 0
        clean: true
      - task: Bash@3
        displayName: Display Build Info
  ...

azure-pipelines-simple-ci.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: BuildFrontend
    displayName: Build Frontend Application
    jobs:
    - job: Build
      displayName: Build & Lint Frontend
      timeoutInMinutes: 20
      steps:
      - task: NodeTool@0
        displayName: Setup Node.js $(NODE_VERSION)
        inputs:
  ...

azure-pipelines.yml:
  stages:
  - stage: Build
    displayName: Build and Push Docker Images
    jobs:
    - job: BuildImages
      displayName: Build All Services
      pool:
        vmImage: ubuntu-latest
      steps:
      - checkout: self
        fetchDepth: 1
      - task: AzureKeyVault@2
        displayName: Fetch Secrets from Key Vault
  ...

azure-pipelines/azure-pipelines-testing.yml:
  stages:
  - stage: CodeQuality
    displayName: Code Quality & Linting
    jobs:
    - job: Lint
      displayName: ESLint & TypeScript Check
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: NodeTool@0
        inputs:
          versionSpec: $(NODE_VERSION)
        displayName: Install Node.js
  ...

docs: add Phase 5 deduplication summary
  PHASE5_DEDUPLICATION_SUMMARY.md
  src/components/drilldown/maintenance/index.tsx
Due: azure-pipelines-ci.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

feat(quality): Add comprehensive quality gate automation and reporting
  .codacy.yml
  .github/workflows/quality-gate.yml
  scripts/quality-report.ts
Due: azure-pipelines-ci.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml

docs: Add comprehensive remediation plan and Playwright screenshot analysis
  .github/workflows/README.md
  .husky/pre-commit
  CONTRIBUTING.md
  PHASE3_COMPLEXITY_REDUCTION_SUMMARY.md
  REMEDIATION_PLAN.md
Due: azure-pipelines-ci.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml

feat(phase6): Implement comprehensive quality gates and CI/CD automation
  .codacy.yml
  .github/workflows/README.md
  .github/workflows/quality-gate.yml
  .husky/pre-push
  package.json
  scripts/quality-report.ts
Due: azure-pipelines-ci.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml

fix: resolve 167 test failures - RBAC, security headers, and API endpoints
  api/src/middleware/security-headers.ts
  api/src/server-simple.ts
  tests/integration/security/rbac.test.ts
Due: azure-pipelines-ci.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

feat(database): Add missing database features from comparison matrix analysis
  DATABASE_MIGRATION_REPORT.md
Due: none

fix: Remove duplicate pool getter in push-notification repository
  api/src/controllers/damage-reports.controller.ts
  api/src/controllers/geospatial.controller.ts
  api/src/emulators/inventory/__tests__/VehicleInventoryEmulator.test.ts
  api/src/repositories/damage-report.repository.ts
  api/src/repositories/geospatial.repository.ts
  api/src/repositories/push-notification.repository.ts
  api/src/routes/damage-reports.routes.ts
  api/src/routes/geospatial.routes.ts
  api/src/server-simple.ts
  api/src/services/triposr.service.ts
  api/src/types/damage-report.ts
  api/src/types/geospatial.ts
  e2e/operations-verification.spec.ts
  eslint.config.js
  src/App.tsx
Due: azure-pipelines-ci.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

Path conditions:
  azure-pipelines-ci.yml: any file but: README.md, docs, *.md
  azure-pipelines-production.yml: any file but: *.md, docs, .github
  azure-pipelines-simple-ci.yml: any file but: **/*.md, docs
  azure-pipelines.yml: any file but: *.md, docs
  azure-pipelines/azure-pipelines-testing.yml: any of: api, src, e2e, tests
