Repository asmortongpt/Fleet-AzureDevOps: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-ci.yml, azure-pipelines-emulator-production.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

Path conditions:
  azure-pipelines-ci.yml: any file but: README.md, docs, *.md
  azure-pipelines-emulator-production.yml: any file but: *.md, docs
  azure-pipelines-production.yml: any file but: *.md, docs, .github
  azure-pipelines-simple-ci.yml: any file but: **/*.md, docs
  azure-pipelines.yml: any file but: *.md, docs
  azure-pipelines/azure-pipelines-testing.yml: any of: api, src, e2e, tests

Remove all @ts-ignore and @ts-nocheck directives from API source (#26)
  api/src/server-simple.ts
  api/src/services/MFAService.ts
  api/src/services/actionable-messages.service.ts
  api/src/services/langchain-orchestrator.service.ts
  api/src/services/lidar-3d-scanning.service.ts
  api/src/storage/adapters/S3StorageAdapter.ts
Due: azure-pipelines-ci.yml, azure-pipelines-emulator-production.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

Fix as any type assertions across 15 middleware files (#27)
  api/src/middleware/auth.production.ts
  api/src/middleware/azure-ad-jwt.ts
  api/src/middleware/cache.ts
  api/src/middleware/csrf.ts
  api/src/middleware/error-formatter.ts
  api/src/middleware/logging.ts
  api/src/middleware/modulePermissions.ts
  api/src/middleware/rateLimiter.ts
  api/src/middleware/request-id.ts
  api/src/middleware/response-formatter.ts
  api/src/middleware/security.ts
  api/src/middleware/sentryErrorHandler.ts
  api/src/middleware/telemetry.ts
  api/src/middleware/tenant-context.ts
  api/src/middleware/validate.ts
Due: azure-pipelines-ci.yml, azure-pipelines-emulator-production.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

fix: resolve remaining 10 frontend TypeScript errors (full codebase now zero)
  src/components/LazyMap.tsx
  src/components/Maps/GoogleMapView.tsx
  src/components/garage/environment/index.tsx
  src/hooks/use-reactive-operations-data.ts
  src/lib/push-notifications.ts
  src/services/keyless-entry.service.ts
  src/services/push-notifications.service.ts
  src/utils/exportUtils.ts
Due: azure-pipelines-ci.yml, azure-pipelines-emulator-production.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

fix: Allow quality gate checks to continue on TypeScript/ESLint errors
  .github/workflows/quality-gate.yml
Due: azure-pipelines-ci.yml, azure-pipelines-emulator-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml

fix: Add missing @testing-library/dom dependency
  package.json
Due: azure-pipelines-ci.yml, azure-pipelines-emulator-production.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml

docs: Add comprehensive documentation for infinite loop and SSO fixes
  .github/workflows/claude-code-review.yml
  FEATURE_BRANCH_README.md
  standalone-sso-test.cjs
  test-login-fix.mjs
  test-sso-both-urls.mjs
  test-sso-production.mjs
Due: azure-pipelines-ci.yml, azure-pipelines-emulator-production.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml

fix: remove duplicate declarations from Azure merge
  src/components/modules/communication/CommunicationLog.tsx
  src/components/workspaces/MaintenanceWorkspace.tsx
Due: azure-pipelines-ci.yml, azure-pipelines-emulator-production.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

fix: resolve TypeScript errors from Azure merge (duplicate imports/declarations)
  api/src/routes/webhooks/outlook.webhook.ts
  api/src/routes/webhooks/teams.webhook.ts
  api/src/server.ts
  api/tsconfig.json
  src/@types/react-extensions.d.ts
  src/services/realtime/FleetWebSocketService.ts
  src/shared/security/audit/AuditLogger.ts
Due: azure-pipelines-ci.yml, azure-pipelines-emulator-production.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

fix: repair test infrastructure - exclude integration tests from unit run
  api/tests/setup.ts
  api/vitest.config.ts
Due: azure-pipelines-ci.yml, azure-pipelines-emulator-production.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

fix: sync package-lock.json for CI/CD deployment
  package-lock.json
Due: azure-pipelines-ci.yml, azure-pipelines-emulator-production.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml

fix: migrate jest references to vitest (vi.*) in 10 test files
  api/src/__tests__/utils/export-helpers.test.ts
  api/src/middleware/__tests__/auth.test.ts
  api/src/repositories/__tests__/trip-marking.repository.test.ts
  api/src/repositories/__tests__/vehicle-assignments.repository.test.ts
  api/src/routes/__tests__/break-glass.test.ts
  api/src/routes/__tests__/vehicle-contracts.test.ts
  api/src/tests/maintenanceService.test.ts
  api/src/tests/vehicleService.test.ts
  api/tests/auth-refresh-tokens.test.ts
  api/tests/unit/repositories/scheduling.repository.test.ts
Due: azure-pipelines-ci.yml, azure-pipelines-emulator-production.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

fix: regenerate package-lock.json to resolve CI/CD npm ci failures
  package-lock.json
Due: azure-pipelines-ci.yml, azure-pipelines-emulator-production.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml

fix: increase Node heap size for CI/CD build to prevent OOM
  .github/workflows/azure-static-web-apps-production.yml
Due: azure-pipelines-ci.yml, azure-pipelines-emulator-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml

fix: set SWA app_location to dist to avoid uploading entire workspace
  .github/workflows/azure-static-web-apps-production.yml
Due: azure-pipelines-ci.yml, azure-pipelines-emulator-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml

fix: upgrade API ESLint to v9 with flat config for CI/CD compatibility
  .github/workflows/ci-cd.yml
  api/.eslintrc.js
  api/eslint.config.js
  api/package-lock.json
  api/package.json
Due: azure-pipelines-ci.yml, azure-pipelines-emulator-production.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

fix: resolve CI/CD workflow failures - ESLint OOM and Vitest flags
  .github/workflows/ci-cd.yml
  .github/workflows/production-deployment.yml
  .github/workflows/quality-gate.yml
Due: azure-pipelines-ci.yml, azure-pipelines-emulator-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml

fix: add NODE_OPTIONS to typecheck steps to prevent OOM in CI
  .github/workflows/ci-cd.yml
  .github/workflows/production-deployment.yml
  .github/workflows/quality-gate.yml
Due: azure-pipelines-ci.yml, azure-pipelines-emulator-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml

fix: exclude scripts directory from TypeScript typecheck
  api/tsconfig.json
Due: azure-pipelines-ci.yml, azure-pipelines-emulator-production.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

fix: add vite dependency for vitest, make security audit non-blocking in CI
  .github/workflows/ci-cd.yml
  api/package-lock.json
  api/package.json
Due: azure-pipelines-ci.yml, azure-pipelines-emulator-production.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

fix: remove invalid secrets conditional in CI workflow
  .github/workflows/ci-cd.yml
Due: azure-pipelines-ci.yml, azure-pipelines-emulator-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml

fix: exclude credential-dependent tests and increase CI timeout
  api/vitest.config.ts
Due: azure-pipelines-ci.yml, azure-pipelines-emulator-production.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

fix: exclude Bull queue tests from CI (requires Redis)
  api/vitest.config.ts
Due: azure-pipelines-ci.yml, azure-pipelines-emulator-production.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

fix: add --legacy-peer-deps to Dockerfile npm ci commands
  api/Dockerfile.production
Due: azure-pipelines-ci.yml, azure-pipelines-emulator-production.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

fix: make DispatchEmulator unit number test resilient to random messages
  api/src/__tests__/DispatchEmulator.test.ts
Due: azure-pipelines-ci.yml, azure-pipelines-emulator-production.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

fix: scope frontend vitest to src/, fix setup.ts localStorage crash, make tests non-blocking in deploy
  .github/workflows/production-deployment.yml
  src/tests/setup.ts
  vitest.config.ts
Due: azure-pipelines-ci.yml, azure-pipelines-emulator-production.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml
