Repository asmortongpt/Fleet-AzureDevOps: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-ci.yml, azure-pipelines-emulator-production.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

azure-pipelines-ci.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: CodeQuality
    displayName: Code Quality & Linting
    jobs:
    - job: LintAndTypeCheck
      displayName: Lint and Type Check
      timeoutInMinutes: 15
      steps:
      - task: NodeTool@0
        displayName: Setup Node.js $(NODE_VERSION)
        inputs:
  ...

azure-pipelines-emulator-production.yml:
  stages:
  - stage: Build
    displayName: Build and Push Docker Images
    jobs:
    - job: BuildImages
      displayName: Build All Services
      pool:
        vmImage: ubuntu-latest
      steps:
      - checkout: self
        fetchDepth: 1
      - task: AzureKeyVault@2
        displayName: Fetch Secrets from Key Vault
  ...

azure-pipelines-production.yml:
  stages:
  - stage: Build
    displayName: Build Application
    jobs:
    - job: BuildAndPush
      displayName: Build and Push Docker Image
      pool:
        vmImage: ubuntu-latest
      steps:
      - checkout: self
        fetchDepth: 0
        clean: true
      - task: Bash@3
        displayName: Display Build Info
  ...

azure-pipelines-simple-ci.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: BuildFrontend
    displayName: Build Frontend Application
    jobs:
    - job: Build
      displayName: Build & Lint Frontend
      timeoutInMinutes: 20
      steps:
      - task: NodeTool@0
        displayName: Setup Node.js $(NODE_VERSION)
        inputs:
  ...

azure-pipelines.yml:
  stages:
  - stage: Build
    displayName: Build and Push Docker Images
    jobs:
    - job: BuildImages
      displayName: Build All Services
      pool:
        vmImage: ubuntu-latest
      steps:
      - checkout: self
        fetchDepth: 1
      - task: AzureKeyVault@2
        displayName: Fetch Secrets from Key Vault
  ...

azure-pipelines/azure-pipelines-testing.yml:
  stages:
  - stage: CodeQuality
    displayName: Code Quality & Linting
    jobs:
    - job: Lint
      displayName: ESLint & TypeScript Check
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: NodeTool@0
        inputs:
          versionSpec: $(NODE_VERSION)
        displayName: Install Node.js
  ...

fix: resolve TS2322 type assignment errors - batch 3 (4+ errors)
  .env.bak2
Due: azure-pipelines-ci.yml, azure-pipelines-emulator-production.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml

chore: Remove .env.bak2 file containing Google API key secret
  .env.bak2
Due: azure-pipelines-ci.yml, azure-pipelines-emulator-production.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml

fix: resolve ALL remaining TS2307 module import errors (102 errors fixed)
  package.json
  src/components/ScanAssetModal.tsx
  src/components/modules/maintenance/MaintenanceScheduling.tsx
Due: azure-pipelines-ci.yml, azure-pipelines-emulator-production.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

fix: resolve package.json merge conflicts
  package.json
Due: azure-pipelines-ci.yml, azure-pipelines-emulator-production.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml

docs: Add merge execution summary from agent swarm Round 7
  MERGE_EXECUTION_SUMMARY.md
Due: none

fix: resolve all merge conflict markers from Dependabot merges (96 TS1185 errors)
  PR_CONFLICT_RESOLUTION_PLAN.md
  api/src/server.ts
  api/src/services/DocumentAiService.ts
  eslint.config.js
  package-lock.json
  package.json
  typecheck-output.txt
Due: azure-pipelines-ci.yml, azure-pipelines-emulator-production.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

fix: resolve all merge conflict markers from Dependabot merges (96 TS1185 errors)
  MERGE_EXECUTION_SUMMARY.md
  PR_CONFLICT_RESOLUTION_PLAN.md
  api/src/server.ts
  api/src/services/DocumentAiService.ts
  eslint.config.js
  package-lock.json
  package.json
  typecheck-output.txt
Due: azure-pipelines-ci.yml, azure-pipelines-emulator-production.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

fix: add missing properties to Vehicle type definition (TS2339)
  src/types/index.ts
Due: azure-pipelines-ci.yml, azure-pipelines-emulator-production.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

fix: add missing imports and declarations (TS2304)
  src/components/3d/ARModeExport.tsx
  src/components/vehicle/HardwareConfigurationPanel.tsx
  src/hooks/use-reactive-safety-compliance-data.ts
  src/hooks/use-reactive-safety-data.ts
  src/hooks/use-validated-api.ts
  src/lib/3d/model-loader.ts
  src/pages/SafetyHub.tsx
  src/pages/VehicleShowroom3D.tsx
  src/services/AIDamageDetectionService.ts
  src/utils/lod-system.tsx
Due: azure-pipelines-ci.yml, azure-pipelines-emulator-production.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

fix: resolve TS2304 cannot find name errors (icon imports and missing variables)
  src/components/ErrorBoundary.tsx
  src/lib/auth-legacy.ts
  src/lib/auth/index.ts
Due: azure-pipelines-ci.yml, azure-pipelines-emulator-production.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

fix: resolve TS2741 missing properties and TS7006 implicit any errors
  src/lib/auth-legacy.ts
  src/pages/SafetyHub.tsx
Due: azure-pipelines-ci.yml, azure-pipelines-emulator-production.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

fix: import Clipboard icon from lucide-react in SafetyHub
  src/pages/SafetyHub.tsx
Due: azure-pipelines-ci.yml, azure-pipelines-emulator-production.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

fix: resolve TS2305 module export errors and fix invalid icon imports
  src/pages/AdminConfigurationHub.tsx
  src/pages/BusinessManagementHub.tsx
  src/pages/ComplianceSafetyHub.tsx
  src/pages/FleetOperationsHub.tsx
  src/pages/IncidentHub.tsx
  src/pages/PeopleCommunicationHub.tsx
Due: azure-pipelines-ci.yml, azure-pipelines-emulator-production.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

fix: resolve TS2339 property does not exist errors - add missing interfaces and API exports
  src/components/drilldown/MaintenanceRequestDrilldowns.tsx
  src/lib/api.ts
  src/lib/auth/index.ts
Due: azure-pipelines-ci.yml, azure-pipelines-emulator-production.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

fix: Complete 990+ quality initiative - TypeScript error remediation
  src/contexts/index.ts
  tsconfig.json
Due: azure-pipelines-ci.yml, azure-pipelines-emulator-production.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

fix: resolve TS17002 JSX closing tag errors
  src/pages/ComplianceSafetyHub.tsx
  src/pages/FleetOperationsHub.tsx
  src/pages/IncidentHub.tsx
Due: azure-pipelines-ci.yml, azure-pipelines-emulator-production.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

fix: resolve TS1128/TS1109 syntax structure errors
  src/pages/FleetOperationsHub.tsx
Due: azure-pipelines-ci.yml, azure-pipelines-emulator-production.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

fix: resolve TS1005 missing parenthesis syntax errors
  src/pages/FleetOperationsHub.tsx
  src/pages/IncidentHub.tsx
Due: azure-pipelines-ci.yml, azure-pipelines-emulator-production.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

Path conditions:
  azure-pipelines-ci.yml: any file but: README.md, docs, *.md
  azure-pipelines-emulator-production.yml: any file but: *.md, docs
  azure-pipelines-production.yml: any file but: *.md, docs, .github
  azure-pipelines-simple-ci.yml: any file but: **/*.md, docs
  azure-pipelines.yml: any file but: *.md, docs
  azure-pipelines/azure-pipelines-testing.yml: any of: api, src, e2e, tests
