Repository asmortongpt/Fleet-AzureDevOps: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-ci.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

Path conditions:
  azure-pipelines-ci.yml: any file but: README.md, docs, *.md
  azure-pipelines-production.yml: any file but: *.md, docs, .github
  azure-pipelines-simple-ci.yml: any file but: **/*.md, docs
  azure-pipelines.yml: any file but: *.md, docs
  azure-pipelines/azure-pipelines-testing.yml: any of: api, src, e2e, tests

feat: Complete Video Telematics & Driver Safety implementation
  api/src/__tests__/lidar-3d-scanning.test.ts
Due: azure-pipelines-ci.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

feat: Implement comprehensive LiDAR 3D scanning system with damage detection
  api/src/__tests__/lidar-3d-scanning.test.ts
  api/src/routes/lidar.routes.ts
  api/src/services/lidar-3d-scanning.service.ts
  api/src/types/lidar.types.ts
Due: azure-pipelines-ci.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

docs: Complete Azure DevOps requirements import with acceptance criteria
  AZURE_DEVOPS_REQUIREMENTS_COMPLETE.md
Due: none

fix: Correct acceptance criteria inaccuracies (100% accuracy)
  AZURE_DEVOPS_REQUIREMENTS_COMPLETE.md
Due: none

security: Fix 6 critical PyTorch vulnerabilities (CVE-2025-32434 RCE)
  SECURITY_ADVISORY_TORCH_2026-01-11.md
  requirements.txt
Due: azure-pipelines-ci.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml

docs: Complete Azure DevOps task organization
  TASK_LINKING_COMPLETE_2026-01-11.md
Due: none

feat: Azure DevOps 100% Accuracy - Complete Synchronization
  AZURE_DEVOPS_100_PERCENT_ACCURATE.md
Due: none

feat: Complete Globalization & Accessibility feature (#11495)
  ACCESSIBILITY_QUICK_START.md
  GLOBALIZATION_ACCESSIBILITY_COMPLETION.md
  WCAG_2.1_AA_COMPLIANCE.md
  package-lock.json
  package.json
  src/styles/accessibility.css
  src/styles/rtl.css
  src/tests/accessibility.test.tsx
  src/tests/setup.ts
Due: azure-pipelines-ci.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

feat: Complete Video Telematics & Driver Safety Feature (#11492) - 100% Production Ready
  api/docs/VIDEO_TELEMATICS_COMPLETION_REPORT.md
  api/docs/VIDEO_TELEMATICS_DEPLOYMENT_CHECKLIST.md
  api/docs/VIDEO_TELEMATICS_FEATURE_GUIDE.md
  api/src/__tests__/services/driver-safety-ai.service.test.ts
  api/src/services/driver-safety-ai.service.ts
Due: azure-pipelines-ci.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

feat: 🎉 100% PROJECT COMPLETION - All Features Production Ready
  AZURE_DEVOPS_100_PERCENT_COMPLETE.md
Due: none

docs: Implement Azure DevOps Best Practices & Definition of Done (#11478 #11479 #11480)
  AZURE_DEVOPS_BEST_PRACTICES.md
  DEFINITION_OF_DONE.md
Due: none
