Repository asmortongpt/Fleet-AzureDevOps: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-ci.yml, azure-pipelines-emulator-production.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

Path conditions:
  azure-pipelines-ci.yml: any file but: README.md, docs, *.md
  azure-pipelines-emulator-production.yml: any file but: *.md, docs
  azure-pipelines-production.yml: any file but: *.md, docs, .github
  azure-pipelines-simple-ci.yml: any file but: **/*.md, docs
  azure-pipelines.yml: any file but: *.md, docs
  azure-pipelines/azure-pipelines-testing.yml: any of: api, src, e2e, tests

fix: align security and service layers with PostgreSQL schema and UUIDs
  api/src/middleware/audit.ts
  api/src/middleware/auth.ts
  api/src/middleware/permissions.ts
  api/src/middleware/rbac.ts
  api/src/modules/fleet/services/vehicle.service.ts
  api/src/routes/vehicles.ts
Due: azure-pipelines-ci.yml, azure-pipelines-emulator-production.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

fix: add unsafe-inline to CSP to allow React inline styles and MSAL scripts
  staticwebapp.config.json
Due: azure-pipelines-ci.yml, azure-pipelines-emulator-production.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml

Restore GitHub workflow files
  .github/workflows/azure-static-web-apps-production.yml
  .github/workflows/ci-cd.yml
  .github/workflows/production-deployment.yml
  .github/workflows/quality-gate.yml
Due: azure-pipelines-ci.yml, azure-pipelines-emulator-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml

fix csp
  index.html
  src/lib/security/csp.ts
Due: azure-pipelines-ci.yml, azure-pipelines-emulator-production.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml

deletd not required github flow
  .github/workflows/azure-static-web-apps-production.yml
Due: azure-pipelines-ci.yml, azure-pipelines-emulator-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml

optimised wokflows
  .github/workflows/production-deployment.yml
  .github/workflows/quality-gate.yml
Due: azure-pipelines-ci.yml, azure-pipelines-emulator-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml

Add .npmrc with legacy-peer-deps to fix CI dependency resolution
  .npmrc
  api/.npmrc
Due: azure-pipelines-ci.yml, azure-pipelines-emulator-production.yml, azure-pipelines-production.yml, azure-pipelines-simple-ci.yml, azure-pipelines.yml, azure-pipelines/azure-pipelines-testing.yml
